/*-----small and medium and large sizes for mobile devices-----*/

/*
Smartphones(large-size)-----------(425px)  => 26th line
Smartphones(Medium-size)-----------(375px) => 453th line
Smartphones(Small-size)-----------(320px)  => 771th line
*/

/*-----small and 4k sizes for desktop devices-----*/

/*
Laptops(Small-size)-----------(1024px)    => 1111th line
4K -----------(2560x)                     => 1594th line
*/
@media screen and (max-width: 765px) {

    header {
        display: none;
    }

    .container {
        grid-template-rows:  120vh max-content max-content max-content max-content;
    }
}

/* Smartphones(large-size)-----------(425px) */
@media only screen
and  (max-device-width: 425px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 66vw 195vw  492vw 110vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 4vw;
    }

    .hambergure-content {
        display: block;
    }

    .hambergure-menu {
        background-color: #020e1b;
        display: block;
        width: 100vw;
        z-index: 100;
        padding: 3vw 0 1.7vw 0;
    }

    .hambergure-menu a {
        display: inline-block;
        /*margin: 2rem;*/
        padding: 0 0 0 30vw;
    }

    .hambergure-menu a img {
        margin: auto;
        width: 40vw;
    }

    .hambergure-menu ion-icon {
        font-size: 7.5vw;
        color: #00c19f;
        float: right;
        margin: -11.5vw 3vw 0 0;
        padding-top: 12vw;
    }

    .hambergure-menu ion-icon:hover {
        cursor: pointer;
    }

    ion-icon {
        --ionicon-stroke-width: 6vw;
    }

    .hambergure-content ion-icon:hover {
        color: white;
        cursor: pointer;
    }

    .hambergure-content ion-icon {
        font-size: 2rem;
        padding: 1rem;
        float: right;
        color: #a6a6a6;
    }

    .hambergure-content {
        background-color: #191919;
        width: 250px;
        height: 105vh;
        z-index: 105;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }


    .hambergure-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.8rem;

    }

    .hambergure-content dl dt {
        border-top: 1px solid rgba(181, 189, 196, 0.045);
        width: 100vw;
    }

    .hambergure-content dl dt a {
        display: block;
        width: 100%;
        padding: 0.75rem 1.2rem;
        font-weight: 700;
        font-size: 0.8rem;
        color: #a6a6a6;
        text-decoration: none;
    }


    .hambergure-content dl dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        color: #08F1C9;
    }

    .hambergure-content dl dt a:hover {
        color: #fff;
    }

    .hambergure-content dl dt:last-child a:hover {
        color: #08F1C9;
    }

    .hambergure-content .current {
        color: #fff;
    }


    .open-menu {
        transform: translate(0);
        transition: transform 1s;

    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s 0.5s;
    }

    .moveOn-container {
        transform: translate(-30vw);
        filter: grayscale(50%);
        transition: 1s 0.5s;
    }

    .moveBack-container {
        transform: translate(0);
        transition: transform 1s;
    }

    .sticky {
        position: fixed;
        width: 100vw;
        transition: ease-in 1s;
    }

    .header__banner {
        height: 47.5vw;
    }

    .header__banner div {
        position: relative;
        width: 70%;
        top: 20%;
        left: 7.5%;
    }

    .header__banner div h1 {
        font-size: 10vw;
    }

    .section-1 {
        grid-area: section-1;
        display: grid;
        grid-template-rows:80vw 40vw;
        grid-template-columns: 100vw;
        grid-template-areas: "se1-content""sec1-image";
    }

    .se1-content {
        grid-area: se1-content;
        padding: 0 8vw;
        margin: auto;
    }

    .se1-content img {
        width: 10vw;
        margin-bottom: 4vw;
    }

    .se1-content h1 {
        font-size: 8.5vw;
        font-weight: 700;
        margin: 0;
    }

    .se1-content h3 {
        font-size: 3.3vw;
        margin-top: 6vw;
        margin-bottom: 8vw;
    }

    .se1-content p {
        font-size: 3vw;
        line-height: 5vw;
    }

    .sec1-image {
        grid-area: sec1-image;
        padding: 0;
        margin: 10vw auto 0 auto;
    }

    .sec1-image img {
        width: 78vw;
        height: 102vw;
    }

    .section-2 {
        grid-area: section-2;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        padding: 0;
    }

    .title {
        font-size: 7vw;
        padding: 0 10vw;
    }

    .opt-img img {
        width: 64vw;
        height: 64vw;
        margin: 0 10vw 2vw 10vw;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin-top: 0;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-1-doc-info {
        line-height: 4vw;
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-2-doc-info {
        line-height: 4vw;
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-3-doc-info {
        line-height: 4vw;
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-4-doc-info {
        line-height: 4vw;
        font-size: 3.2vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .section-3 {
        text-align: center;
    }

    .section-3 h5 {
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 0 0 8vw 0;
    }

    .section-3 h2 {
        font-size: 7vw;
        padding: 0 7vw;
        margin: 0;
    }

    .section-3 p {
        font-size: 3vw;
        line-height: 3vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .section-3 a {
        font-size: 3vw;
        padding: 3.2vw 4.6vw;
        text-decoration: none;
    }

    .allfooter {
        margin: -5vw 0 5vw 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 14vw;
    }

    .footer > div {
        margin: 1vw 10vw;
        font-size: 3vw;
    }

    #icon-number {
        margin-top: 28vw;
    }

    #icon-number img {
        width: 40vw;
    }

    #icon-number p {
        font-size: 3vw;
        margin: 10vw 0 2vw 0;
    }

    #icon-number h3 {
        font-size: 3.4vw;
    }

    #company h3 {
        font-size: 3.5vw;
        margin-top: 14.5vw;
    }

    #company div {
        margin: 3vw 0;
    }

    #company div span {
        font-size: 2.7vw;
    }

    #company div a p {
        font-size: 3vw;
    }

    #help {
        margin-bottom: 7vw;
        margin-left: 10vw;
    }

    #help h3 {
        font-size: 3.5vw;
        margin-top: 14.5vw;
    }

    #help div span {
        font-size: 2.7vw;
    }

    #help div a p {
        font-size: 3vw;
    }

    #help div {
        margin: 3vw 0;
    }

    .subfooter {
        text-align: center;
        padding: 2vw 7.7vw;
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .subfooter a:first-of-type {
        float: none;
        display: block;
        font-size: 8vw;
        padding: 4vw 36vw;
    }

    .subfooter a {
        font-size: 3vw;
    }

    .sti-btn-up, .sti-btn-down {
        display: none;
    }
}

/* Smartphones(Medium-size)-----------(375px) */
@media only screen
and  (max-device-width: 375px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 76vw 220vw  550vw 140vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 4vw;
    }

    .hambergure-menu {
        padding: 3.5vw 0 1.8vw 0;
    }

    .hambergure-menu a {
        /*margin: 2rem;*/
        padding: 0 0 0 27.5vw;
    }

    .hambergure-menu a img {
        width: 45vw;
    }

    .hambergure-menu ion-icon {
        font-size: 9vw;
    }

    .hambergure-content dl dt a {
        padding: 0.75rem 1.2rem;
    }

    .header__banner {
        height: 54vw;
    }

    .header__banner div {
        position: relative;
        width: 70%;
        top: 20%;
        left: 8.8%;
    }

    .header__banner div h1 {
        font-size: 11.2vw;
    }

    .section-1 {
        grid-area: section-1;
        display: grid;
        grid-template-rows:95vw 40vw;
        grid-template-columns: 100vw;
        grid-template-areas: "se1-content""sec1-image";
    }

    .se1-content {
        grid-area: se1-content;
        padding: 0 9vw;
        margin: auto;
    }

    .se1-content img {
        width: 11.5vw;
    }

    .se1-content h1 {
        font-size: 9.8vw;
        font-weight: 700;
        line-height: 11vw;
        margin: 4vw 0 5vw 0;
    }

    .se1-content h3 {
        font-size: 3.8vw;
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .se1-content p {
        font-size: 3.3vw;
        line-height: 5vw;
    }

    .sec1-image {
        grid-area: sec1-image;
        padding: 0;
        margin: 10vw auto 0 auto;
    }

    .sec1-image img {
        width: 78vw;
        height: 102vw;
    }

    .section-2 {
        grid-area: section-2;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        padding: 0;
    }

    .title {
        font-size: 8vw;
        padding: 0 10vw;
    }

    .opt-img img {
        width: 72vw;
        height: 72vw;
        margin: 0 9vw 2vw 9vw;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 3.5vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin-top: 0;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-1-doc-info {
        line-height: 5vw;
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 3.5vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-2-doc-info {
        line-height: 5vw;
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 3.5vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-3-doc-info {
        line-height: 5vw;
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 3.5vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-4-doc-info {
        line-height: 5vw;
        font-size: 3.5vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .section-3 {
        text-align: center;
    }

    .section-3 h5 {
        font-size: 4vw;
        padding: 0 10vw;
        margin: 0 0 8vw 0;
    }

    .section-3 h2 {
        font-size: 8vw;
        padding: 0 10vw;
        margin: 0;
    }

    .section-3 p {
        font-size: 3.5vw;
        line-height: 5vw;
        padding: 0 9vw;
        margin: 8vw 0;
    }

    .section-3 a {
        font-size: 3.5vw;
        padding: 3.2vw 5vw;
        text-decoration: none;
    }

    .allfooter {
        margin: -1vw 0 5vw 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 14vw;
    }

    .footer > div {
        margin: 1vw 10vw;
        font-size: 3vw;
    }

    #icon-number {
        margin-top: 28vw;
    }

    #icon-number img {
        width: 45vw;
    }

    #icon-number p {
        font-size: 3.5vw;
        margin: 10vw 0 0 0;
    }

    #icon-number h3 {
        font-size: 3.8vw;
        margin-top: 2vw;
    }

    #company h3 {
        font-size: 3.8vw;
        margin-top: 14.5vw;
        margin-bottom: 4vw;
    }

    #company div {
        margin: 3vw 0;
    }

    #company div span {
        font-size: 2.7vw;
    }

    #company div a p {
        font-size: 3.5vw;
    }

    #help {
        margin-bottom: 7vw;
        margin-left: 10vw;
    }

    #help h3 {
        font-size: 3.8vw;
        margin-top: 14.5vw;
        margin-bottom: 4vw;
    }

    #help div span {
        font-size: 2.7vw;
    }

    #help div a p {
        font-size: 3.5vw;
    }

    #help div {
        margin: 3vw 0;
    }

    .subfooter {
        text-align: center;
        padding: 3vw 7.7vw;
        font-size: 3.6vw;
        line-height: 4.5vw;
    }

    .subfooter a:first-of-type {
        float: none;
        display: block;
        font-size: 8vw;
        padding: 5vw 36vw;
    }

    .subfooter a {
        font-size: 3.6vw;
    }
}

/* Smartphones(Small-size)-----------(320px) */
@media only screen and  (max-device-width: 320px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 90vw 250vw  645vw 165vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 4vw;
    }

    .hambergure-menu {
        padding: 4.5vw 0 2vw 0;
    }

    .hambergure-menu a {
        /*margin: 2rem;*/
        padding: 0 0 0 23.5vw;
    }

    .hambergure-menu a img {
        width: 52.5vw;
    }

    .hambergure-menu ion-icon {
        font-size: 11vw;
        padding-top: 11vw;
    }

    .hambergure-content dl dt a {
        padding: 0.75rem 1.2rem;
    }

    .header__banner {
        height: 63vw;
    }

    .header__banner div {
        position: relative;
        width: 70%;
        top: 21%;
        left: 10.5%;
    }

    .header__banner div h1 {
        font-size: 13vw;
    }

    .section-1 {
        grid-area: section-1;
        display: grid;
        grid-template-rows:130vw 40vw;
        grid-template-columns: 100vw;
        grid-template-areas: "se1-content""sec1-image";
    }

    .se1-content {
        grid-area: se1-content;
        padding: 0 10vw;
        margin: auto;
    }

    .se1-content img {
        width: 13.5vw;
    }

    .se1-content h1 {
        font-size: 11vw;
        font-weight: 700;
        margin: 5vw 0 8vw 0;
    }

    .se1-content h3 {
        font-size: 4.3vw;
        margin-bottom: 11vw;
        line-height: 6vw;
    }

    .se1-content p {
        font-size: 4vw;
        line-height: 6vw;
    }

    .sec1-image {
        grid-area: sec1-image;
        padding: 0;
        margin: 10vw auto 0 auto;
    }

    .sec1-image img {
        width: 78vw;
        height: 102vw;
    }

    .section-2 {
        grid-area: section-2;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        padding: 0;
    }

    .title {
        font-size: 9.5vw;
        padding: 0 10vw;
    }

    .opt-img img {
        width: 78vw;
        height: 78vw;
        margin: 0 10vw 2vw 10vw;
    }

    .opt-1-doc-sec {
        margin-bottom: 10vw;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 4vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin-top: 0;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 4vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-1-doc-info {
        line-height: 5.5vw;
        font-size: 4vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-2-doc-sec {
        margin-bottom: 10vw;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 4vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 4vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-2-doc-info {
        line-height: 5.5vw;
        font-size: 4vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 4vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-3-doc-sec {
        margin-bottom: 10vw;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 4vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-3-doc-info {
        line-height: 5.5vw;
        font-size: 4vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 4vw;
        letter-spacing: 0.17vw;
        padding: 0 10vw;
        margin: 0;
    }

    .opt-4-doc-sec {
        margin-bottom: 10vw;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 4vw;
        padding: 0 10vw;
        margin: 2vw 0 0 0;
    }

    .opt-4-doc-info {
        line-height: 5.5vw;
        font-size: 4vw;
        padding: 0 10vw;
        margin: 8vw 0;
    }

    .section-3 {
        text-align: center;
    }

    .section-3 h5 {
        font-size: 4.4vw;
        padding: 0 8vw;
        margin: 0 0 8vw 0;
    }

    .section-3 h2 {
        font-size: 9vw;
        padding: 0 8vw;
        margin: 0;
    }

    .section-3 p {
        font-size: 4.5vw;
        line-height: 5vw;
        padding: 0;
        margin: 8vw 5.5vw;
    }

    .section-3 a {
        font-size: 4.2vw;
        padding: 3.6vw 7.5vw;
        text-decoration: none;
        margin-top: 5vw;
    }

    .allfooter {
        margin: 6vw 0 5vw 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 14vw;
    }

    .footer > div {
        margin: 2vw 10vw;
        font-size: 3vw;
    }

    #icon-number {
        margin-top: 28vw;
    }

    #icon-number img {
        width: 50vw;
    }

    #icon-number p {
        font-size: 4vw;
        margin: 10vw 0 0 0;
    }

    #icon-number h3 {
        font-size: 4.2vw;
        margin-top: 2vw;
    }

    #company {
        margin-bottom: 10vw;
    }

    #company h3 {
        font-size: 4.4vw;
        margin-top: 14.5vw;
        margin-bottom: 4vw;
    }

    #company div {
        margin: 4vw 0;
    }

    #company div span {
        font-size: 3.5vw;
    }

    #company div a p {
        font-size: 4.2vw;
        margin-left: 3vw;
    }

    #help {
        margin-bottom: 10vw;
        margin-left: 10vw;
    }

    #help h3 {
        font-size: 4.4vw;
        margin-top: 14.5vw;
        margin-bottom: 4vw;
    }

    #help div span {
        font-size: 3.5vw;
    }

    #help div a p {
        font-size: 4.2vw;
        margin-left: 3vw;
    }

    #help div {
        margin: 4vw 0;
    }

    .subfooter {
        text-align: center;
        padding: 3vw 7.7vw;
        font-size: 4.2vw;
        line-height: 6vw;
    }

    .subfooter a:first-of-type {
        float: none;
        display: block;
        font-size: 12vw;
        padding: 5vw 36vw;
    }

    .subfooter a {
        font-size: 4.2vw;
    }
}

/* Laptops(Small-size)-----------(1024px) */
@media only screen
and (min-device-width: 426px) and  (max-device-width: 1024px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 39vw 57vw  78vw 50vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 3vh;
    }

    header {
        display: none;
    }

    .hambergure-content {
        display: block;
    }

    .hambergure-menu {
        position: fixed;
        display: block;
        width: 100vw;
        z-index: 100;
        padding: 5vw 0 1.7vw 0;
    }

    .hambergure-menu a {
        display: inline-block;
        padding: 0 0 0 7vw;
    }

    .hambergure-menu a img {
        margin: auto;
        width: 16vw;
    }

    .hambergure-menu ion-icon {
        font-size: 3vw;
        color: #00c19f;
        float: right;
        margin: -12.5vw 6.5vw 0 0;
        padding-top: 13vw;
    }

    .hambergure-menu ion-icon:hover {
        cursor: pointer;
    }

    ion-icon {
        --ionicon-stroke-width: 3vw;
    }

    .hambergure-content ion-icon:hover {
        color: white;
        cursor: pointer;
    }

    .hambergure-content ion-icon {
        font-size: 2rem;
        padding: 1rem;
        float: right;
        color: #a6a6a6;
    }

    .hambergure-content {
        background-color: #191919;
        width: 250px;
        height: 105vh;
        z-index: 105;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }


    .hambergure-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.8rem;

    }

    .hambergure-content dl dt {
        border-top: 1px solid rgba(181, 189, 196, 0.045);
        width: 100vw;
    }

    .hambergure-content dl dt a {
        display: block;
        width: 100%;
        padding: 0.65rem 1.2rem;
        font-weight: 700;
        font-size: 1rem;
        color: #a6a6a6;
        text-decoration: none;
    }


    .hambergure-content dl dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        color: #08F1C9;
    }

    .hambergure-content dl dt a:hover {
        color: #fff;
    }

    .hambergure-content dl dt:last-child a:hover {
        color: #08F1C9;
    }

    .hambergure-content .current {
        color: #fff;
    }


    .open-menu {
        transform: translate(0);
        transition: transform 1s;

    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s 0.5s;
    }

    .moveOn-container {
        transform: translate(-15vw);
        filter: grayscale(50%);
        transition: 1s 0.5s;
    }

    .moveBack-container {
        transform: translate(0);
        transition: transform 1s;
    }

    .sticky {
        position: fixed;
        width: 100vw;
        background-color: var(--blue-2);
        padding: 1.2vw 0 0.8vw 0;
    }

    .header__banner {
        width: 100%;
        height: 36vw;
    }

    .header__banner div {
        position: relative;
        width: 70%;
        top: 36.5%;
        left: 5%;
    }

    .header__banner div h1 {
        font-size: 6.8vw;
    }

    .se1-content {
        grid-area: se1-content;
        padding: 5vw 8vw 0 4.5vw;

    }

    .se1-content img {
        width: 4.2vw;
    }

    .se1-content h1 {
        font-size: 5.9vw;
        font-weight: 700;
        line-height: 7vw;
    }

    .se1-content h3 {
        font-size: 2.3vw;
        font-weight: 400;
    }

    .se1-content p {
        font-size: 1.5vw;
        margin-top: 3vw;
        line-height: 2.5vw;
    }

    .sec1-image {
        grid-area: sec1-image;
        padding: 5vw 10vw 0 0;

    }

    .sec1-image img {
        width: 38vw;
        height: 48vw;
    }

    .section-2 {
        grid-area: section-2;
        display: grid;
        grid-template-rows: 17vw 60vw;
        grid-template-columns: 25vm 25vm 25vm 25vm;
        column-gap: 0.25vw;
        margin: 0 4vw;
    }

    .title {
        grid-area: title;
        font-size: 4.9vw;
        font-weight: 700;
        padding: 1vw 0;
    }

    .opt-img img {
        width: 21.2vw;
        height: 21.2vw;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-1-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .option-2 {
        grid-area: option-2;
    }

    .opt-2-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-2-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .option-3 {
        grid-area: option-3;

    }

    .opt-3-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-3-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;

    }

    .option-4 {
        grid-area: option-4;
    }

    .opt-4-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-4-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .section-3 h5 {
        font-size: 2vw;
        font-weight: 400;
        margin: 0 0 2.693vw 0;
    }

    .section-3 h2 {
        font-size: 5vw;
        margin: 0 0 2.693vw 0;
    }

    .section-3 p {
        line-height: 2.5vw;
        font-size: 1.5vw;
        text-align: center;
        margin: 0 0 2.693vw 0;
    }

    .section-3 a {
        font-size: 1.5vw;
        padding: 1.5vw 2vw;
    }

    .sti-btn-up {
        width: 6.5vw;
        height: 6.5vw;
        top: 38vmax;
    }

    .sti-btn-up span:first-child {
        font-size: 2vw;
        font-weight: 500;
    }

    .sti-btn-up span:last-child {
        font-size: 1.1vw;
    }

    .sti-btn-down {
        width: 6.5vw;
        height: 6.5vw;
        top: 45vmax;
    }

    .sti-btn-down img {
        width: 2.7vw;
        height: 2.7vw;
    }

    .sti-btn-down span {
        font-size: 1.1vw;
        margin-top: 0.2vw;
    }

    .allfooter {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }

    .footer {
        justify-content: left;
        margin-bottom: 1vw;
    }

    .footer > div {
        margin: 0 4.8vw;
        vertical-align: middle;
    }

    #icon-number {
        margin-left: 5vw;
        margin-bottom: 0;
    }

    #icon-number img {
        width: 16.7vw;
    }

    #icon-number p {
        font-size: 1.5vw;
        margin: 3vw 0 1vw 0;
    }

    #icon-number h3 {
        font-size: 2.4vw;
        font-weight: 400;
        margin-top: 0;
    }

    #company h3 {
        font-weight: 400;
        font-size: 2.4vw;
        margin: 0 0 1.6vw 0;
    }

    #company div span {
        font-size: 1vw;
        font-weight: 200;
    }


    #company div a p {
        font-size: 1.5vw;
    }

    #company div {
        margin: 1.7vw 0;
    }

    #help {
        margin-left: 8vw;
    }

    #help h3 {
        font-weight: 400;
        font-size: 2.4vw;
        margin: 0 0 1.6vw 0;

    }

    #help div span {
        font-size: 1vw;
        font-weight: 200;
    }


    #help div a p {
        font-size: 1.5vw;
    }

    #help div {
        margin: 1.7vw 0;
    }

    .subfooter {
        padding: 3.5vw 6vw 2vw 6vw;
        font-size: 1.5vw;
    }


    .subfooter a {
        font-size: 1.5vw;
    }

    .subfooter a:first-of-type {
        font-size: 2.5vw;
    }
}

/* 4K -----------(2560x) */
@media only screen
and (min-device-width: 2560px) and  (max-device-width: 3500px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 11.5vw 26vw  30.5vw 21vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 3vh;
    }

    header {
        padding: 1.7vw 20vw;
    }

    header .logo {
        margin-right: 5vw;
    }

    header .logo img {
        width: 6.7vw;
        margin-top: 0.3vw;
        margin-left: 9.5vw;
    }

    header.sticky {
        padding: 0.1vw 20vw;
        opacity: 0.98;
    }

    header dl {
        margin-top: 1rem;
        margin-right: 9.5vw;
    }

    header dl dt a {
        font-weight: 700;
        font-size: 0.63vw;
        margin: 0.4rem 0.73vw;
    }

    .header__banner {
        height: 14.5vw;
    }

    .header__banner div {
        position: relative;
        top: 36%;
        left: 28.8%;
    }

    .header__banner div h1 {
        font-size: 2.75vw;
    }

    .section-1 {
        grid-template-rows: 30vw;
        grid-template-columns: 51.5vw 30vw;

    }

    .se1-content {
        padding: 5vw 2vw 0 28.5vw;

    }

    .se1-content img {
        width: 1.7vw;
    }

    .se1-content h1 {
        font-size: 2.35vw;
        line-height: 2.7vw;
        padding: 0;
        margin: 0.5vw 0 1.2vw 0;
    }

    .se1-content h3 {
        font-size: 0.95vw;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .se1-content p {
        font-size: 0.6vw;
        font-weight: 400;
        margin-top: 1.5vw;
        line-height: 1.2vw;
    }

    .sec1-image {
        padding: 5vw 10vw 0 0;
    }

    .sec1-image img {
        width: 17.7vw;
        height: 22.5vw;
        margin-left: 2vw;
    }

    .section-2 {
        grid-template-rows: 6.5vw 25vw;
        grid-template-columns: 10vw 10vw 10vw 10vw;
        column-gap: 1vw;
        margin: 0 28.5vw;
    }

    .title {
        grid-area: title;
        font-size: 1.99vw;
        font-weight: 700;
        padding: 0;
    }


    .opt-img img {
        width: 9.9vw;
        height: 9.9vw;
    }

    .opt-1-doc-sec {
        margin: 1.5vw 0;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 0.62vw;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 0.45vw;
    }

    .opt-1-doc-info {
        line-height: 1vw;
        font-size: 0.45vw;
    }

    .opt-2-doc-sec {
        margin: 1.5vw 0;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 0.62vw;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 0.45vw;
    }

    .opt-2-doc-info {
        line-height: 1vw;
        font-size: 0.45vw;

    }

    .opt-3-doc-sec {
        margin: 1.5vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 0.62vw;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 0.45vw;
    }

    .opt-3-doc-info {
        line-height: 1vw;
        font-size: 0.45vw;

    }

    .opt-4-doc-sec {
        margin: 1.5vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 0.62vw;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 0.45vw;
    }

    .opt-4-doc-info {
        line-height: 1vw;
        font-size: 0.45vw;
    }

    .section-3 {
        padding: 1vw 0;
    }

    .section-3 h5 {
        font-size: 0.8vw;
        margin: 0 0 1.4vw 0;
    }

    .section-3 h2 {
        font-size: 1.99vw;
        margin: 0 0 1.4vw 0;
    }

    .section-3 p {
        line-height: 1.1vw;
        font-size: 0.6vw;
        margin: 0 0 1.4vw 0;
    }

    .section-3 a {
        font-size: 0.6vw;
        padding: 0.6vw 0.9vw;
    }

    .sti-btn-up {
        width: 2.55vw;
        height: 2.55vw;
        top: 16vmax;
    }

    .sti-btn-up span:first-child {
        font-size: 0.75vw;
        font-weight: 500;
        margin-left: 0.25vw;

    }

    .sti-btn-up span:last-child {
        font-size: 0.45vw;
        margin-top: 0.1vw;
    }

    .sti-btn-down {
        width: 2.55vw;
        height: 2.55vw;
        top: 18.7vmax;
    }

    .sti-btn-down img {
        width: 2vw;
        height: 1vw;
    }

    .sti-btn-down span {
        font-size: 0.45vw;
        margin-top: 0.1vw;
    }

    .allfooter {
        width: 100%;
        margin: 3vw 20.5vw 0 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: max-content;
        height: max-content;
        padding: 0;
        margin-bottom: 2vw;
        margin-left: 20vw;
    }

    .footer > div {
        margin: 0 2.5vw;
        vertical-align: middle;
    }

    #icon-number {
        margin-left: 9vw;
        margin-bottom: 0;
    }

    #icon-number img {
        width: 6.7vw;
    }

    #icon-number p {
        font-size: 0.6vw;
        margin: 3vw 0 1vw 0;
    }

    #icon-number h3 {
        font-size: 0.97vw;
        font-weight: 400;
    }

    #company h3 {
        font-weight: 400;
        font-size: 0.97vw;
        margin: 0 0 0.8vw 0;
    }

    #company div span {
        font-size: 0.6vw;
        font-weight: 200;
    }


    #company div a p {
        display: inline;
        font-size: 0.6vw;
    }

    #company div {
        margin: 0.8vw 0;

    }

    #help h3 {
        font-weight: 400;
        font-size: 0.97vw;
        margin: 0 0 0.8vw 0;

    }

    #help div span {
        font-size: 0.6vw;
        font-weight: 200;
    }


    #help div a p {
        display: inline;
        font-size: 0.6vw;
    }

    #help div {
        margin: 0.8vw 0;
    }

    .subfooter {
        padding: 1.5vw 29vw 0.5vw 29vw;
        font-size: 0.6vw;
    }


    .subfooter a {
        font-size: 0.5vw;
    }

    .subfooter a:first-of-type {
        float: right;
        font-size: 1.2vw;
        padding: 0;
        vertical-align: middle;
        font-weight: lighter;

    }
}