/* Laptops(Small-size)-----------(1024px) */
@media only screen
and (min-device-width: 426px) and  (max-device-width: 1024px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 39vw 57vw  78vw 50vw;
        grid-template-areas: "header-banner"
                         "section-1"
                         "section-2"
                         "section-3";
        row-gap: 3vh;
    }

    header {
        display: none;
    }

    .hambergure-content {
        display: block;
    }

    .hambergure-menu {
        position: fixed;
        display: block;
        width: 100vw;
        z-index: 100;
        padding: 5vw 0 1.7vw 0;
    }

    .hambergure-menu a {
        display: inline-block;
        padding: 0 0 0 7vw;
    }

    .hambergure-menu a img {
        margin: auto;
        width: 16vw;
    }

    .hambergure-menu ion-icon {
        font-size: 3vw;
        color: #00c19f;
        float: right;
        margin: -12.5vw 6.5vw 0 0;
        padding-top: 13vw;
    }

    .hambergure-menu ion-icon:hover {
        cursor: pointer;
    }

    ion-icon {
        --ionicon-stroke-width: 3vw;
    }

    .hambergure-content ion-icon:hover {
        color: white;
        cursor: pointer;
    }

    .hambergure-content ion-icon {
        font-size: 2rem;
        padding: 1rem;
        float: right;
        color: #a6a6a6;
    }

    .hambergure-content {
        background-color: #191919;
        width: 250px;
        height: 105vh;
        z-index: 105;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }


    .hambergure-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.8rem;

    }

    .hambergure-content dl dt {
        border-top: 1px solid rgba(181, 189, 196, 0.045);
        width: 100vw;
    }

    .hambergure-content dl dt a {
        display: block;
        width: 100%;
        padding: 0.65rem 1.2rem;
        font-weight: 700;
        font-size: 1rem;
        color: #a6a6a6;
        text-decoration: none;
    }


    .hambergure-content dl dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        color: #08F1C9;
    }

    .hambergure-content dl dt a:hover {
        color: #fff;
    }

    .hambergure-content dl dt:last-child a:hover {
        color: #08F1C9;
    }

    .hambergure-content .current {
        color: #fff;
    }


    .open-menu {
        transform: translate(0);
        transition: transform 1s;

    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s 0.5s;
    }

    .moveOn-container {
        transform: translate(-15vw);
        filter: grayscale(50%);
        transition: 1s 0.5s;
    }

    .moveBack-container {
        transform: translate(0);
        transition: transform 1s;
    }

    .sticky {
        position: fixed;
        width: 100vw;
        background-color: var(--blue-2);
        padding: 1.2vw 0 0.8vw 0;
    }

    .header__banner {
        width: 100%;
        height: 36vw;
    }

    .header__banner div {
        position: relative;
        width: 70%;
        top: 36.5%;
        left: 5%;
    }

    .header__banner div h1 {
        font-size: 6.8vw;
    }

    .se1-content {
        grid-area: se1-content;
        padding: 5vw 8vw 0 4.5vw;

    }

    .se1-content img {
        width: 4.2vw;
    }

    .se1-content h1 {
        font-size: 5.9vw;
        font-weight: 700;
        line-height: 7vw;
    }

    .se1-content h3 {
        font-size: 2.3vw;
        font-weight: 400;
    }

    .se1-content p {
        font-size: 1.5vw;
        margin-top: 3vw;
        line-height: 2.5vw;
    }

    .sec1-image {
        grid-area: sec1-image;
        padding: 5vw 10vw 0 0;

    }

    .sec1-image img {
        width: 38vw;
        height: 48vw;
    }

    .section-2 {
        grid-area: section-2;
        display: grid;
        grid-template-rows: 17vw 60vw;
        grid-template-columns: 25vm 25vm 25vm 25vm;
        column-gap: 0.25vw;
        margin: 0 4vw;
    }

    .title {
        grid-area: title;
        font-size: 4.9vw;
        font-weight: 700;
        padding: 1vw 0;
    }

    .opt-img img {
        width: 21.2vw;
        height: 21.2vw;
    }

    .opt-1-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-1-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-1-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .option-2 {
        grid-area: option-2;
    }

    .opt-2-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-2-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-2-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-2-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .option-3 {
        grid-area: option-3;

    }

    .opt-3-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-3-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-3-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-3-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;

    }

    .option-4 {
        grid-area: option-4;
    }

    .opt-4-doc-sec {
        margin: 2.962vw 0;
    }

    .opt-4-doc-sec p:first-child {
        font-size: 2vw;
        font-weight: 400;
        letter-spacing: 0.1vw;
        margin: 4vw 0 0 0;
    }

    .opt-4-doc-sec p:last-child {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 1vw 0 0 0;
    }

    .opt-4-doc-info {
        line-height: 2.7vw;
        font-size: 1.5vw;
        font-weight: 400;
        margin-top: 4vw;
    }

    .section-3 h5 {
        font-size: 2vw;
        font-weight: 400;
        margin: 0 0 2.693vw 0;
    }

    .section-3 h2 {
        font-size: 5vw;
        margin: 0 0 2.693vw 0;
    }

    .section-3 p {
        line-height: 2.5vw;
        font-size: 1.5vw;
        text-align: center;
        margin: 0 0 2.693vw 0;
    }

    .section-3 a {
        font-size: 1.5vw;
        padding: 1.5vw 2vw;
    }

    .sti-btn-up {
        width: 6.5vw;
        height: 6.5vw;
        top: 38vmax;
    }

    .sti-btn-up span:first-child {
        font-size: 2vw;
        font-weight: 500;
    }

    .sti-btn-up span:last-child {
        font-size: 1.1vw;
    }

    .sti-btn-down {
        width: 6.5vw;
        height: 6.5vw;
        top: 45vmax;
    }

    .sti-btn-down img {
        width: 2.7vw;
        height: 2.7vw;
    }

    .sti-btn-down span {
        font-size: 1.1vw;
        margin-top: 0.2vw;
    }

    .allfooter {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }

    .footer {
        justify-content: left;
        margin-bottom: 1vw;
    }

    .footer > div {
        margin: 0 4.8vw;
        vertical-align: middle;
    }

    #icon-number {
        margin-left: 5vw;
        margin-bottom: 0;
    }

    #icon-number img {
        width: 16.7vw;
    }

    #icon-number p {
        font-size: 1.5vw;
        margin: 3vw 0 1vw 0;
    }

    #icon-number h3 {
        font-size: 2.4vw;
        font-weight: 400;
        margin-top: 0;
    }

    #company h3 {
        font-weight: 400;
        font-size: 2.4vw;
        margin: 0 0 1.6vw 0;
    }

    #company div span {
        font-size: 1vw;
        font-weight: 200;
    }


    #company div a p {
        font-size: 1.5vw;
    }

    #company div {
        margin: 1.7vw 0;
    }

    #help {
        margin-left: 8vw;
    }

    #help h3 {
        font-weight: 400;
        font-size: 2.4vw;
        margin: 0 0 1.6vw 0;

    }

    #help div span {
        font-size: 1vw;
        font-weight: 200;
    }


    #help div a p {
        font-size: 1.5vw;
    }

    #help div {
        margin: 1.7vw 0;
    }

    .subfooter {
        padding: 3.5vw 6vw 2vw 6vw;
        font-size: 1.5vw;
    }


    .subfooter a {
        font-size: 1.5vw;
    }

    .subfooter a:first-of-type {
        font-size: 2.5vw;
    }
}


