.allfooter {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: max-content;
    height: max-content;
    font-family: Montserrat, Arial, serif;
    padding-bottom: 6vw;
}

#company div a p:hover{
    text-decoration: underline;
    color: #00F1C7;
}

#help div a p:hover{
    text-decoration: underline;
    color: #00F1C7;
}

.footer > div {
    margin: 0 6.5vw;
    vertical-align: middle;
}

#icon-number {
    margin-left: 9vw;
    margin-bottom: 0;
}

#icon-number img {
    width: 12vw;
}

#icon-number p {
    color: #8C8C8C;
    font-size: 1.2vw;
    margin: 3vw 0 1vw 0;
}

#icon-number h3 {
    color: #00F1C7;
    font-size: 1.6vw;
    font-weight: 400;
}

#company h3 {
    font-weight: 400;
    font-size: 1.8vw;
    margin: 0 0 1.6vw 0;
}

#company div span {
    font-size: 1vw;
    font-weight: 200;
}


#company div a p {
    display: inline;
    font-size: 1.1vw;
}

#company div {
    margin: 1.2vw 0;
    color: #5E5E5E;

}

#company div a {
    text-decoration: none;
    color: #5E5E5E;

}

#help {
    color: #000000;
    margin-left: 8vw;
}

#help h3 {
    font-weight: 400;
    font-size: 1.8vw;
    margin: 0 0 1.6vw 0;

}

#help div span {
    font-size: 1vw;
    font-weight: 200;
}


#help div a p {
    display: inline;
    font-size: 1.1vw;
}

#help div {
    margin: 1.2vw 0;
    color: #5E5E5E;

}

#help div a {
    text-decoration: none;
    color: #5E5E5E;

}

.subfooter {
    border-top: 0.07vw solid #e2e2e2;
    padding: 1.4vw 11.7vw;
    font-size: 1.1vw;
    font-family: Montserrat, Arial, serif;
    color: #8C8C8C;
}

.subfooter a{
    text-decoration: none;
    font-size: 1.2vw;
    color: #5E5E5E;

}
.footer-hover-a:hover{
    text-decoration: underline;
    color: #00F1C7;
}


.subfooter a:first-of-type{
    float: right;
    font-size: 2.5vw;
    padding: 0;
    vertical-align: middle;
    font-weight: lighter;
}