.header {
    padding: 0;
    width: 100%;
    overflow-x: auto;
    height: auto;
    margin: 0;
    background-image: url("../images/slidebar.jpg");
    background-position: -4.5vw 0vw;
    background-size: 108vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
        user-select: none; /* Non-prefixed version, currently
                           supported by Chrome, Edge, Opera and Firefox */
}


#welcome {
    box-sizing: border-box;
    margin-left: 14vw;
    margin-top: 24.5vw;
    color: white;
    line-height: 1.8vw;

}

#welcome h1 {
    font-weight: 600;
    font-size: 5.8vw;
}

#welcome h1:nth-child(2) {
    color: #00f1c7;
}

#welcome h4 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 4.6vw;
    font-weight: 400;
    text-shadow: white;
    font-size: 1.5vw;
}

.btnMore {
    margin-top: 1vw;
    margin-bottom: 10vw;
    display: inline-block;
    padding: 1vw 1.1vw;
    border: none;
    width: 11.5vw;
    height: 3.7vw;
    letter-spacing: 0.1vw;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
}

a.btnMore:hover {
    color: white;
    background-color: black;
}