header {
    position: fixed;
    top: 0;
    left: 0;
    width:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 4.5vw 12vw;
    z-index: 1000;
}

header .logo {
    margin-right: 19.5vw;
}

header .logo img {
    width: 12vw;
    margin-top: 1.2rem;
}

header.sticky {
    width:max-content;
    padding: 0.2rem 12vw;
    background: rgba(10, 22, 34, 0.95);
}

header dl {
    display: flex;
    margin-top: 1rem;
}

header dl dt:last-child a {
    color: #08F1C9;
}

header dl dt a {
    font-weight: 700;
    font-size: 1.2vw;
    color: #B5BDC4;
    text-decoration: none;
    position: relative;
    margin: 0.5rem 1.4vw;
    transition: 0.6s;
}

header dl dt a:hover{
    color: #fff;
}
header dl dt:last-child a:hover{
    color: #08F1C9;
}
header .current{
    color: #fff;
}