
.pics {
    padding-left: 10vw;
    display: grid;
    grid-template-rows: 110.5vh 60vh 2vh;
    grid-template-columns: 53vw 27vw;
    grid-template-areas: "left-pic right-pic"
                         "book opening"
                         "line line";
}

.left-pic {
    grid-area: left-pic;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:start;
    background-image: url("../images/home_clinic3_pic10.jpg");
    background-repeat: no-repeat;
    background-size: 55.2vw;
    background-position: -1.8vw 0;
    padding: 30vh 5vw;
    font-family: Montserrat, serif;
}

.left-pic h1 {
    font-size: 4.2vw;
    margin-top: 11vh;
    font-weight: 600;
}

.left-pic h3 {
    font-size: 1.6vw;
    margin: 1.2vh 0 6vh 0;
    font-weight: 400;
}

.left-pic a {
    font-size: 1.2vw;
    padding: 1.5vh 2.2vw;
    background-color: #fff;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.left-pic a:hover {
    background-color: #EEEEEE;
}


.right-pic {
    grid-area: right-pic;
    background-image: url("../images/home_clinic3_pic11.jpg");
    background-repeat: no-repeat;
    background-size: 57vw;
    background-position: -15vw 0;
    background-position-y: 5vw;
    padding: 30vh 4vw;
    font-family: Montserrat, Arial, serif;
    color: #ffffff;
}

.right-pic img {
    width: 2.9vw;
    margin: 22vh 0 4.9vh 1.4vw;
}

.right-pic h3 {
    font-size: 2.4vw;
    font-weight: 600;
    text-shadow: 0 0 2.5vw rgba(0, 0, 0, 1);
    margin: 0 0 5vh 1.4vw;

}

.btn-ourteam {
    position: relative;
    padding: 1.6vw 0.9vw 1.2vw 0.9vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1vw;
    font-weight: 700;
    margin: 1vw 0.8vw;
    color: white;
}

.btn-ourteam:after, .btn-ourteam:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.25vw;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    transform: scale(0.9);
}
.btn-ourteam:hover:before {
    top: 0.5vw;
    background-color: #00c19f;
    transform: scale(1);
}
.btn-ourteam:hover:after {
    background-color: #00c19f;
    transform: scale(1);
}



.book-online {
    grid-area: book;
    float: right;
    width: 29vw;
    height: 15vw;
    margin-left: 13vw;
    padding: 8vh 5.5vw;
    background-color: #00F1C7;
    color: #000000;
}

.book-online h3 {
    font-size: 2.3vw;
    font-weight: 600;
    margin: 3vh 0;
}

.book-online h4 {
    font-size: 1.7vw;
    font-weight: 400;
    margin: 4vh 0 7vh 0;
}

.book-online a {
    font-size: 1.1vw;
    padding: 2vh 1.5vw;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
}



.opening-time {
    grid-area: opening;
    padding: 4.4vh 5.7vw;
}

.opening-time hr {
    border: none;
    border-bottom: 0.05vw solid #656565;
    margin: 4vh 0;
    width: 10vw;
}

.opening-time h5:first-of-type {
    font-size: 1.3vw;
    font-weight: 400;
    color: #B1B1B1;
    margin: 5.5vh 0;
}

.opening-time h5:last-of-type {
    font-size: 1.3vw;
    font-weight: 400;
    margin: 0 0 3vh 0;
}

.opening-time p {
    font-size: 1.1vw;
    font-weight: 400;
    margin: 0;
    color: #7A7C7E;
}

.opening-time a img {
    width: 1.4vw;
}
.seperator {
    grid-area: line;
    width: 100vw;
    margin-top: 3vh;
    margin-left: -10vw;
    border: none;
    border-bottom:0.01vw solid #e2e2e2;
}