.services {
    padding-left: 8vw;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns:18vw 18vw 18vw 18vw;
    column-gap: 2vw;
    row-gap:4vw;
    grid-template-areas: "top top top top"
                         "cell1 cell2 cell3 cell4"
                         "view-button view-button view-button view-button";
}

.services-top {
    grid-area: top;
    padding-left: 2vw;
    margin-top: 5vw;
}

.services-top h2 {
    font-size: 3.7vw;
    line-height: 10vh;
    font-weight: 700;
}

.cell h4 {
    color: #000;
    font-weight: 400;
    font-size: 1.8vw;
    margin-top: 4vw;
}

.cell p {
    color: #7a7c7e;
    font-weight: 400;
    text-align: justify;
    font-size: 1vw;
    line-height: 2vw;
}
.cell {
    padding: 3vh;
}


.cell1 {
    grid-area: cell1;
}

.cell2 {
    grid-area: cell2;
}

.cell3 {
    grid-area: cell3;
}

.cell4 {
    grid-area: cell4;
}

.view {
    grid-area: view-button;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.btnViewall {
    display: inline-block;
    padding: 1vw 1vw;
    border: none;
    width: 25vw;
    height: 3.5vw;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 10vw;
}
