body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    color: #ffffff;
    background: #00F1C7;
}

/*================= grids of container ==================*/

.container {
    width: 100%;
    display: grid;
    grid-template-rows:  max-content max-content max-content max-content auto;
    row-gap: 1vw;
    grid-template-areas: "header"
                         "content1"
                         "content2"
                         "content3"
                         "footer";
}

.header {
    grid-area: header;
}

.services {
    grid-area: content1;
}

.pics {
    grid-area: content2;
}

.videos {
    grid-area: content3;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 426px) {
    .container {
        grid-template-rows:  81.5vw max-content max-content max-content auto;

    }
}
/*================= Burger menu ==================*/

.hambergure-menu {
    display: none;
}

.hambergure-content {
    display: none;
}

@media screen and (max-width: 426px) {

    .hambergure-content {
        display: block;
    }

    .hambergure-menu {
        background-color: rgba(10, 22, 34, 1);
        display: block;
        width: 100%;
        min-height: 3.38rem;
        z-index: 100;
        padding-top: 0.53rem;
    }

    .hambergure-menu a {
        display: inline-block;
        /*margin: 2rem;*/
        padding-left: 7.43rem;
        padding-top: 0.27rem;
    }

    .hambergure-menu a img {
        margin: auto;
        width: 10.6rem;
    }

    .hambergure-menu ion-icon {
        font-size: 2.12rem;
        color: #00c19f;
        float: right;
        margin: -3.32rem 0.67rem 0 0;
        padding-top: 3.45rem;
    }

    .hambergure-menu ion-icon:hover {
        cursor: pointer;
    }

    .hambergure-content ion-icon:hover {
        color: white;
        cursor: pointer;
    }

    .hambergure-content ion-icon {
        font-size: 2rem;
        padding: 1rem 3rem 1.5rem 1rem;
        float: right;
        color: #a6a6a6;
    }

    .hambergure-content {
        background-color: #191919;
        width: 16rem;
        height: 29rem;
        z-index: 105;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }


    .hambergure-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.6rem;
    }

    .hambergure-content dl dt:last-child a {

    }

    .hambergure-content dl dt a {
        display: block;
        border-top: 1px solid rgba(181, 189, 196, 0.06);
        width: 100%;
        padding: 0.6rem 1rem;
        margin: 0.2rem;
        font-weight: 700;
        font-size: 0.8rem;
        color: #B5BDC4;
        text-decoration: none;
        margin-left: 1rem;
    }


    .hambergure-content dl dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        padding-bottom: 1rem;
        color: #08F1C9;
    }

    .hambergure-content dl dt a:hover {
        color: #fff;
    }

    .hambergure-content dl dt:last-child a:hover {
        color: #08F1C9;
    }

    .hambergure-content .current {
        color: #fff;
    }


    .open-menu {
        transform: translate(0);
        /*float: right;*/
        transition: transform 1s;

    }

    .close-menu {
        transform: translate(26.5rem);
        transition: transform 1s 0.5s;
    }

    .moveOn-container {
        transform: translate(-8rem);
        background-color: rgba(27, 68, 179, 0.1);
        filter: grayscale(70%);
        transition: 1s 0.5s;
    }

    .moveBack-container {
        transsform: translate(0);
        transition: transform 1s;
    }

    .sticky {
        position: fixed;
        min-height: 2.75rem;
        width: 26.5rem;
        transition: ease-in 1s;
    }

}

@media screen and (max-width: 376px) {
    .hambergure-content {
        width: 20rem;
    }
    .hambergure-content ion-icon {
        font-size: 2.2rem;
        padding-right: 6rem;
    }

    .hambergure-menu {
        min-height: 3rem;
        padding-top: 0.7rem;
    }

    .hambergure-menu a {
        padding-left: 5rem;
    }

    .hambergure-menu a img {
        width: 10.5rem;
    }

    .hambergure-menu ion-icon {
        font-size: 2rem;
        margin: -3rem 0.6rem 0 0;
    }

    .hambergure-content dl {
        margin-top: 3.6rem;
    }

    .hambergure-content dl dt a {
        padding: 0.6rem 1rem;
    }

    .open-menu {
    }
}
/*================= Movable Navbar ==================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 4.5vw 12vw;
    z-index: 1000;
}

header .logo {
    margin-right: 19.5vw;
}

header .logo img {
    width: 12vw;
    margin-top: 1.2rem;
}

header.sticky {
    width: max-content;
    padding: 0.2rem 12vw;
    background: rgba(10, 22, 34, 0.95);
}

header dl {
    display: flex;
    margin-top: 1rem;
}

header dl dt:last-child a {
    color: #08F1C9;
}

header dl dt a {
    font-weight: 700;
    font-size: 1.2vw;
    color: #B5BDC4;
    text-decoration: none;
    position: relative;
    margin: 0.5rem 1.4vw;
    transition: 0.6s;
}

header dl dt a:hover {
    color: #fff;
}

header dl dt:last-child a:hover {
    color: #08F1C9;
}

header .current {
    color: #fff;
}

/*======= Movable Navbar ==> queries == */

@media screen and (max-width: 426px) {

    header {
        display: none;
    }
}

/*================= Header ==================*/

.header {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    height: auto;
    margin: 0;
    background-image: url("../images/slidebar.jpg");
    background-position: -4.5vw 0vw;
    background-size: 108vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    user-select: none;
}

#welcome {
    box-sizing: border-box;
    margin-left: 14vw;
    margin-top: 24.5vw;
    color: white;
    line-height: 1.8vw;
}

#welcome h1 {
    font-weight: 600;
    font-size: 5.8vw;
}

#welcome h1:nth-child(2) {
    color: #00f1c7;
}

#welcome h4 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 4.6vw;
    font-weight: 400;
    text-shadow: white;
    font-size: 1.5vw;
}

.btnMore {
    margin-top: 1vw;
    margin-bottom: 10vw;
    display: inline-block;
    padding: 1vw 1.1vw;
    border: none;
    width: 11.5vw;
    height: 3.7vw;
    letter-spacing: 0.1vw;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
}

a.btnMore:hover {
    color: white;
    background-color: black;
}

/*======= Header ==> queries == */

@media screen and (max-width: 426px) {

    .header {
        background-position: -5.3rem 3rem;
        background-size: 38.5rem;
        width: 100%;
    }

    #welcome {
        margin-left: 1.06rem;
        margin-top: 8.2rem;
        line-height: 0.8rem;
    }

    #welcome h1 {
        font-size: 1.9rem;
    }

    #welcome h4 {
        font-size: 0.45rem;
    }

    .btnMore {
        width: 3.85rem;
        height: 1.25rem;
        font-size: 0.53rem;
    }
}
@media screen and (max-width: 376px) {
    .header {
        background-position: -5.3rem 3rem;
        background-size: 38.5rem;
        max-height: 20rem;
    }
    #welcome {
        margin-top: 8rem;
    }
    #welcome h1 {
        font-size: 1.7rem;
    }


    .btnMore {
        width: 3.7rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }
}
/*================= Section 1 ==================*/

.services {
    padding-left: 8vw;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns:18vw 18vw 18vw 18vw;
    column-gap: 2vw;
    row-gap: 4vw;
    grid-template-areas: "top top top top"
                         "cell1 cell2 cell3 cell4"
                         "view-button view-button view-button view-button";
}

.services-top {
    grid-area: top;
    padding-left: 2vw;
    margin-top: 5vw;
}

.services-top h2 {
    font-size: 3.7vw;
    line-height: 10vh;
    font-weight: 700;
}

.cell h4 {
    color: #000;
    font-weight: 400;
    font-size: 1.8vw;
    margin-top: 4vw;
}

.cell p {
    color: #7a7c7e;
    font-weight: 400;
    text-align: justify;
    font-size: 1vw;
    line-height: 2vw;
}

.cell {
    padding: 3vh;
}


.cell1 {
    grid-area: cell1;
}

.cell2 {
    grid-area: cell2;
}

.cell3 {
    grid-area: cell3;
}

.cell4 {
    grid-area: cell4;
}

.view {
    grid-area: view-button;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.btnViewall {
    display: inline-block;
    padding: 1vw 1vw;
    border: none;
    width: 25vw;
    height: 3.5vw;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 10vw;
}

/*======= Section 1 ==> queries == */

@media screen and (max-width: 426px) {

    .services {
        padding: 0 3.2rem 0 1.6rem;
        display: flex;
        flex-direction: column;
    }

    .services-top {
        margin-top: 5.56rem;
    }

    .services-top h2 {
        font-size: 1.85rem;
        line-height: 2.34rem;
        margin-bottom: 3.44rem;
    }

    .cell h4 {
        font-size: 0.9rem;
        margin-top: 2.65rem;
        margin-bottom: 1.85rem;
    }

    .cell p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin-bottom: 0;
    }

    .cell {
        padding: 0.55rem;
    }

    .btnViewall {
        padding: 0.8rem 0.53rem;
        width: 22.26rem;
        height: 2.39rem;
        font-size: 0.8rem;
        margin-top: 5.17rem;
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 376px) {
    .services {
        padding: 0 12vw 0 6vw;
        display: flex;
        flex-direction: column;
    }

    .services-top {
        width: 63vw;
    }

    .services-top h2 {
        font-size: 8vw;
        line-height: 2.2rem;
        margin-bottom: 15vw;
    }

    .cell h4 {
        font-size: 3.5vw;
        margin-bottom: 9vw;
    }

    .cell p {
        font-size: 3.5vw;
        line-height: 5vw;
        margin-bottom: 1.5vw;
    }

    .btnViewall {
        padding: 3.5vw 2vw;
        height: 11vw;
        font-size: 3.5vw;
    }
}

/*================= Section 2 ==================*/

.pics {
    padding-left: 10vw;
    display: grid;
    grid-template-rows: 110.5vh 60vh 2vh;
    grid-template-columns: 53vw 27vw;
    grid-template-areas: "left-pic right-pic"
                         "book opening"
                         "line line";
}

.left-pic {
    grid-area: left-pic;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    background-image: url("../images/home_clinic3_pic10.jpg");
    background-repeat: no-repeat;
    background-size: 55.2vw;
    background-position: -1.8vw 0;
    padding: 30vh 5vw;
    font-family: Montserrat, serif;
}

.left-pic h1 {
    font-size: 4.2vw;
    margin-top: 11vh;
    font-weight: 600;
}

.left-pic h3 {
    font-size: 1.6vw;
    margin: 1.2vh 0 6vh 0;
    font-weight: 400;
}

.left-pic a {
    font-size: 1.2vw;
    padding: 1.5vh 2.2vw;
    background-color: #fff;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.left-pic a:hover {
    background-color: #EEEEEE;
}


.right-pic {
    grid-area: right-pic;
    background-image: url("../images/home_clinic3_pic11.jpg");
    background-repeat: no-repeat;
    background-size: 57vw;
    background-position: -15vw 0;
    background-position-y: 5vw;
    padding: 30vh 4vw;
    font-family: Montserrat, Arial, serif;
    color: #ffffff;
}

.right-pic img {
    width: 2.9vw;
    margin: 22vh 0 4.9vh 1.4vw;
}

.right-pic h3 {
    font-size: 2.4vw;
    font-weight: 600;
    text-shadow: 0 0 2.5vw rgba(0, 0, 0, 1);
    margin: 0 0 5vh 1.4vw;

}

.btn-ourteam {
    position: relative;
    padding: 1.6vw 0.9vw 1.2vw 0.9vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1vw;
    font-weight: 700;
    margin: 1vw 0.8vw;
    color: white;
}

.btn-ourteam:after, .btn-ourteam:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    transform: scale(0.9);
}

.btn-ourteam:hover:before {
    top: 0.5vw;
    background-color: #00c19f;
    transform: scale(1);
}

.btn-ourteam:hover:after {
    background-color: #00c19f;
    transform: scale(1);
}

.book-online {
    grid-area: book;
    float: right;
    width: 29vw;
    height: 15vw;
    margin-left: 13vw;
    padding: 8vh 5.5vw;
    background-color: #00F1C7;
    color: #000000;
}

.book-online h3 {
    font-size: 2.3vw;
    font-weight: 600;
    margin: 3vh 0;
}

.book-online h4 {
    font-size: 1.7vw;
    font-weight: 400;
    margin: 4vh 0 7vh 0;
}

.book-online a {
    font-size: 1.1vw;
    padding: 2vh 1.5vw;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
}

.opening-time {
    grid-area: opening;
    padding: 4.4vh 5.7vw;
}

.opening-time hr {
    border: none;
    border-bottom: 0.05vw solid #656565;
    margin: 4vh 0;
    width: 10vw;
}

.opening-time h5:first-of-type {
    font-size: 1.3vw;
    font-weight: 400;
    color: #B1B1B1;
    margin: 5.5vh 0;
}

.opening-time h5:last-of-type {
    font-size: 1.3vw;
    font-weight: 400;
    margin: 0 0 3vh 0;
}

.opening-time p {
    font-size: 1.1vw;
    font-weight: 400;
    margin: 0;
    color: #7A7C7E;
}

.opening-time a img {
    width: 1.4vw;
}

.seperator {
    grid-area: line;
    width: 100%;
    margin-top: 3vh;
    margin-left: -10vw;
    border: none;
    border-bottom: 0.01vw solid #e2e2e2;
}

/*======= Section 2 ==> queries == */

@media screen and (max-width: 426px) {

    .pics {
        padding-left: 2.65rem;
        display: flex;
        flex-direction: column;
    }

    .left-pic {
        background-size: 48.5rem;
        background-position: -13.25rem 0;
        padding: 7.6rem 1.6rem;
        width: 19.6rem;
        height: 25rem;
    }

    .left-pic h1 {
        font-size: 2.12rem;
        margin-top: 9.7rem;
        margin-left: 0.8rem;
    }

    .left-pic h3 {
        font-size: 0.85rem;
        margin: 0.6rem 0 2.12rem 0.8rem;
    }

    .left-pic a {
        font-size: 0.8rem;
        padding: 0.8rem 1.33rem;
        margin-left: 0.4rem;
    }

    .right-pic {
        background-size: 46.75rem;
        background-position: -11.13rem 0.05rem;
        padding: 8.1rem 1.3rem;
        width: 20.4rem;
        height: 18rem;
    }

    .right-pic img {
        width: 2.65rem;
        margin: 8rem 0 1.3rem 4.5rem;
    }

    .right-pic h3 {
        font-size: 1.3rem;
        line-height: 1.85rem;
        margin: 0 0 2rem 4.5rem;
        width: 13.25rem ;
    }

    .btn-ourteam {
        padding: 0.9rem 0.53rem 0.8rem 0.53rem;
        font-size: 1rem;
        margin: 0.27rem 4rem;
    }

    .book-online {
        width: 20rem;
        height: 13rem;
        margin: 0 0 2.12rem 0vw;
        padding: 2.2rem 1.46rem;
    }

    .book-online h3 {
        font-size: 1.1rem;
        margin: 2.4rem 0 1.46rem 0;
    }

    .book-online h4 {
        font-size: 0.9rem;
        margin-bottom: 2.4rem;
    }

    .book-online a {
        font-size: 0.8rem;
        padding: 0.7rem 1.325rem;
    }


    .opening-time {
        padding: 1.2rem 4.7rem;
    }

    .opening-time hr {
        border: none;
        border-bottom: 0.001vw solid #d7d7d7;
        margin: 1.6rem 0 1.325rem;
        width: 33vw;
    }

    .opening-time h5:first-of-type {
        font-size: 0.85rem;
        margin: 1.325rem 0 2.4rem;
    }

    .opening-time h5:last-of-type {
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        font-stretch: 100%;
        margin: 0 0 1.325rem 0;
    }

    .opening-time p {
        font-size: 0.8rem;
    }

    .opening-time a img {
        width: 1.3rem;
    }

    .seperator {
        margin-top: 8.6rem;
    }
}

@media screen and (max-width: 376px) {

    .left-pic {
        background-size: 208vw;
        background-position: -62vw 0vw;
        padding: 39.5vh 5vw;
        width: 74vw;
        height: 106vw;
    }

    .left-pic h1 {
        font-size: 9vw;
        margin-top: 36.5vw;
        margin-left: 5vw;
        width: 18vw;
    }

    .left-pic h3 {
        font-size: 3.5vw;
        margin: 2.2vw 0 7vw 6vw;
    }

    .left-pic a {
        font-size: 3.4vw;
        padding: 3vw 6vw;
        margin-left: 5.5vw;
    }

    .right-pic {
        background-size: 215vw;
        background-position: -64vw 0.2vw;
        padding: 47vh 5vw;
        width: 74vw;
        height: 68vw;
    }

    .right-pic img {
        width: 11vw;
        margin: 29.5vw 0 7vw 12.5vw;
    }

    .right-pic h3 {
        margin: 0 0 12vw 14vw;
    }

    .book-online {
        width: 73vw;
        height: 60vw;
        padding: 8vh 5.5vw;
    }

    .book-online h3 {
        font-size: 5.2vw;
        margin: 11vw 0 7.5vw 0;
    }

    .book-online h4 {
        font-size: 3.8vw;
        margin-bottom: 10.5vw;
    }

    .book-online a {
        font-size: 3.6vw;
        padding: 3.3vw 6vw;
    }


    .opening-time {
        padding: 8vh 17.7vw;
    }

    .opening-time hr {
        width: 40vw;
    }

    .opening-time h5:first-of-type {
        font-size: 3.7vw;
    }

    .opening-time h5:last-of-type {
        font-size: 3.7vw;
    }

    .opening-time p {
        font-size: 3.5vw;
    }

    .opening-time a img {
        width: 5.3vw;
    }

    .seperator {
        margin-top: 34.5vw;
    }
}

/*================= Section 3 ==================*/

.videos {
    padding-left: 3vw;
    margin-top: 6vw;
    display: grid;
    height: 140vh;
    grid-template-columns: 46vw 40vw;
    grid-template-areas: "left right";
}


.right {
    grid-area: right;
}

.left {
    grid-area: left;
    display: grid;
    grid-template-rows: 0% 88%;
    grid-template-areas: "text"
                         "video";
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.left:nth-of-type(1) h2 {
    grid-area: text;
    margin-left: 6vw;
    margin-top: 2.8vw;
    font-size: 3.6vw;
    text-align: start;
    color: black;
}

#left-video {
    grid-area: video;
    background-color: #00f1c7;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    background-image: url("../images/home_clinic3_pic12.jpg");
    background-repeat: no-repeat;
    background-size: 57.5vw;
    align-items: center;
    margin-left: 5.62vw;
    margin-top: 10vw;
    background-position: -8vw 0;
}

.btns {
    cursor: pointer;
    display: inline-block;
    transform: translateX(6vw);
    z-index: 10;
    margin-top: 17vw;
}

.pauseBtn {
    margin-left: 4vw;
    opacity: 0;
}

.btns:hover .playBtn {
    opacity: 0;
    transition: 0.5s ease-in;
}

.btns:hover .pauseBtn {
    opacity: 1;
    transition: 0.5s ease-out;
}

#left-video h2 {
    font-weight: 600;
    color: white;
    margin: 4vw 0 0 5vw;
    font-size: 4.4vw;
    text-align: start;
}

#left-video p {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 5vw;
}


.right {
    grid-area: right;
    display: grid;
    grid-template-rows: 81% 0%;
    grid-template-areas: "video"
                         "blank";
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#right-video {
    grid-area: video;
    grid-template-areas: "rightPicture";
    background-image: url("../images/home_clinic3_pic13.jpg");
    background-repeat: no-repeat;
    background-size: 57vw;
    align-items: center;
    background-position: -8.5vw 0;
}

#right-video h2 {
    font-weight: 600;
    color: white;
    margin: 4vw 0 0 5vw;
    width: 20vw;
    font-size: 4.4vw;
    text-align: start;
}

#right-video p {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 5vw;
}

/*======= Section 3 ==> queries == */

@media screen and (max-width: 426px) {

    .videos {
        display: flex;
        flex-direction: column;
        padding-left: 0.8rem;
        margin-top: 5rem;
        height: max-content;
    }

    .left {
        display: flex;
        flex-direction: column;
        /*overflow: hidden;*/
        /*transition: 0.5s ease-in-out;*/
    }

    .left:nth-of-type(1) h2 {
        font-size: 1.9rem;
    }

    #left-video {
        margin-top: 2.4rem;
        padding: 10rem 0;
        width: 22.5rem;
        height: 20rem;
        background-size: 49rem;
        margin-left: 1.5rem;
        background-position: -13.25rem 0;
    }

    .btns {
        transform: translateX(1rem);
    }

    .pauseBtn {
        transform: translateX(0.5rem);
    }

    #left-video h2 {
        margin-top: 3.2rem;
        font-size: 2.25rem;
    }

    #left-video p {
        font-size: 0.93rem;
        margin-left: 1.6rem;
    }

    #right-video {
        margin-top: 0;
        padding: 9.7rem 0;
        width: 22.5rem;
        height: 20rem;
        background-size: 49rem;
        margin-left: 1.5rem;
        background-position: -13.25rem -0.53rem;
    }

    #right-video h2 {
        margin: 3.2rem 0 1.06rem 1.325rem;
        width: 20rem;
        font-size: 2.25rem;
    }

    #right-video p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 376px) {

    .videos {
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        margin-top: 19vw;
        height: max-content;
    }

    .left {
        display: flex;
        flex-direction: column;
        /*overflow: hidden;*/
        /*transition: 0.5s ease-in-out;*/
    }

    .left:nth-of-type(1) h2 {
        font-size: 8.5vw;
        margin-top: 5vw;
    }

    #left-video {
        margin-top: 9vw;
        padding: 50vh 0;
        width: 85vw;
        height: 75.5vw;
        background-size: 215vw;
        margin-left: 5.62vw;
        background-position: -65vw -2vw;
    }

    .btns {
        transform: translateX(4vw);
    }

    .pauseBtn {
        transform: translateX(2vw);
    }

    #left-video h2 {
        margin-top: 12vw;
        font-size: 9.5vw;
    }

    #left-video p {
        font-size: 4vw;
        margin-left: 6vw;
    }

    #right-video {
        margin-top: 0;
        padding: 50vh 0;
        width: 85vw;
        height: 89vw;
        background-size: 215vw;
        margin-left: 5.62vw;
        background-position: -64vw 0;
    }

    #right-video h2 {
        margin: 15vw 0 4vw 5vw;
        width: 40vw;
        font-size: 9.5vw;
    }

    #right-video p {
        font-size: 4vw;
    }

}

/*================= Footer ==================*/

.allfooter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: max-content;
    height: max-content;
    font-family: Montserrat, Arial, serif;
    padding-bottom: 6vw;
}

#company div a p:hover {
    text-decoration: underline;
    color: #00F1C7;
}

#help div a p:hover {
    text-decoration: underline;
    color: #00F1C7;
}

.footer > div {
    margin: 0 6.5vw;
    vertical-align: middle;
}

#icon-number {
    margin-left: 9vw;
    margin-bottom: 0;
}

#icon-number img {
    width: 12vw;
}

#icon-number p {
    color: #8C8C8C;
    font-size: 1.2vw;
    margin: 3vw 0 1vw 0;
}

#icon-number h3 {
    color: #00F1C7;
    font-size: 1.6vw;
    font-weight: 400;
}

#company h3 {
    font-weight: 400;
    font-size: 1.8vw;
    margin: 0 0 1.6vw 0;
}

#company div span {
    font-size: 1vw;
    font-weight: 200;
}


#company div a p {
    display: inline;
    font-size: 1.1vw;
}

#company div {
    margin: 1.2vw 0;
    color: #5E5E5E;
}

#company div a {
    text-decoration: none;
    color: #5E5E5E;
}

#help {
    color: #000000;
    margin-left: 8vw;
}

#help h3 {
    font-weight: 400;
    font-size: 1.8vw;
    margin: 0 0 1.6vw 0;
}

#help div span {
    font-size: 1vw;
    font-weight: 200;
}

#help div a p {
    display: inline;
    font-size: 1.1vw;
}

#help div {
    margin: 1.2vw 0;
    color: #5E5E5E;
}

#help div a {
    text-decoration: none;
    color: #5E5E5E;
}

.subfooter {
    border-top: 0.07vw solid #e2e2e2;
    padding: 1.4vw 11.7vw;
    font-size: 1.1vw;
    font-family: Montserrat, Arial, serif;
    color: #8C8C8C;
}

.subfooter a {
    text-decoration: none;
    font-size: 1.2vw;
    color: #5E5E5E;
}

.footer-hover-a:hover {
    text-decoration: underline;
    color: #00F1C7;
}


.subfooter a:first-of-type {
    float: right;
    font-size: 2.5vw;
    padding: 0;
    vertical-align: middle;
    font-weight: lighter;
}


/*======= Footer ==> queries == */

@media screen and (max-width: 426px) {

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 3.5rem;
    }


    .footer > div {
        margin: 0.2rem 2.2rem 0;
        font-size: 0.7rem;
    }

    #icon-number {
        margin-top: 7.5rem;
    }

    #icon-number img {
        width: 10rem;
    }

    #icon-number p {
        font-size: 0.85rem;
        margin-top: 2.5rem;
    }

    #icon-number h3 {
        font-size: 0.85rem;
        margin-top: 0.6rem;
    }

    #company h3 {
        font-size: 0.9rem;
        margin-top: 3.2rem;
        margin-bottom: 1rem;
    }

    #company div {
        margin: 1rem 0;
    }

    #company div span {
        font-size: 0.6rem;
    }

    #company div a p {
        font-size: 0.8rem;
    }

    #help {
        margin-bottom: 2rem;
    }

    #help h3 {
        font-size: 0.9rem;
        margin-top: 3.2rem;
        margin-bottom: 1rem;
    }

    #help div span {
        font-size: 0.6rem;
    }


    #help div a p {
        font-size: 0.8rem;
    }

    #help div {
        margin: 1rem 0;
    }

    .subfooter {
        text-align: center;
        padding: 1.8rem 2rem;
        font-size: 0.8rem;
    }

    .subfooter a:first-of-type {
        float: none;
        display: block;
        font-size: 2rem;
        padding: 0.5rem 9rem 2rem;
    }

    .subfooter a {
        font-size: 0.8rem;
        line-height: 1rem;

    }
}


@media screen and (max-width: 376px) {

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 14vw;
    }


    .footer > div {
        margin: 1vw 10vw 0;
        font-size: 3vw;
    }

    #icon-number {
        margin-top: 32vw;
    }

    #icon-number img {
        width: 47vw;
    }

    #icon-number p {
        font-size: 3.8vw;
    }

    #icon-number h3 {
        font-size: 3.8vw;
    }

    #company h3 {
        font-size: 4vw;
        margin-top: 14.5vw;
        margin-bottom: 4.5vw;
    }

    #company div {
        margin: 4vw 0;
    }

    #company div span {
        font-size: 2.7vw;
    }

    #company div a p {
        font-size: 3.5vw;
    }

    #help {
        margin-bottom: 9vw;
    }

    #help h3 {
        font-size: 4vw;
        margin-top: 13.7vw;
    }

    #help div span {
        font-size: 2.7vw;
    }


    #help div a p {
        font-size: 3.5vw;
    }

    #help div {
        margin: 4vw 0;
    }

    .subfooter {
        text-align: center;
        padding: 8vw 7.7vw;
        font-size: 3.5vw;
    }

    .subfooter a:first-of-type {
        float: none;
        display: block;
        font-size: 8vw;
        padding: 1vw 36vw 9vw;
    }

    .subfooter a {
        font-size: 3.7vw;
        line-height: 5vw;

    }
}

/*================= sticky button ==================*/

/*sti = sticky*/
/*btn = button*/

.sti-btn-up {
    display: flex;
    flex-flow: column;
    width: 3.8rem;
    height: 3.8rem;
    position: fixed;
    top: 60%;
    right: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: #06070C;
    color: #ffffff;
}

.sti-btn-up span:first-child {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.2rem;

}

.sti-btn-up span:last-child {
    font-size: 0.64rem;

}

.sti-btn-down {
    display: flex;
    flex-flow: column;
    width: 3.8rem;
    height: 3.8rem;
    position: fixed;
    top: 70%;
    right: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: #80B541;
    color: #F3F5F2;

}

.sti-btn-down img {
    width: 1.5rem;
    height: 1.6rem;
}

.sti-btn-down span {
    font-size: 0.64rem;
    margin-top: 0.21rem;
}

.blink {
    animation: blinker 4s infinite;
}

@keyframes blinker {
    0%, 100%, 50% {
        opacity: 1
    }
    25%, 75% {
        opacity: .2
    }
}

/*======= Section 2 ==> queries == */

@media screen and (max-width: 426px) {

    .sti-btn {
        display: none;
    }
}