.videos {
    padding-left: 3vw;
    margin-top: 6vw;
    display: grid;
    height: 140vh;
    grid-template-columns: 46vw 40vw;
    grid-template-areas: "left right";
}


.right {
    grid-area: right;
}

.left {
    grid-area: left;
    display: grid;
    grid-template-rows: 0% 88%;
    grid-template-areas: "text"
                         "video";
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.left:nth-of-type(1) h2 {
    grid-area: text;
    margin-left: 6vw;
    margin-top: 0.7vw;
    font-size: 3.6vw;
    text-align: start;
    color: black;
}

#left-video {
    grid-area: video;
    background-color: #00f1c7;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    background-image: url("../images/home_clinic3_pic12.jpg");
    background-repeat: no-repeat;
    background-size: 57.5vw;
    align-items: center;
    margin-left: 5.62vw;
    margin-top: 10vw;
    background-position: -8vw 0;
}

.btns {
    cursor: pointer;
    display: inline-block;
    transform: translateX(6vw);
    z-index: 10;
    margin-top: 17vw;
}

.pauseBtn {
    margin-left: 4vw;
    opacity: 0;
}

.btns:hover .playBtn {
    opacity: 0;
    transition: 0.5s ease-in;
}

.btns:hover .pauseBtn {
    opacity: 1;
    transition: 0.5s ease-out;
}

#left-video h2 {
    font-weight: 600;
    color: white;
    margin: 4vw 0 0 5vw;
    font-size: 4.4vw;
    text-align: start;
}

#left-video p {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 5vw;
}


.right {
    grid-area: right;
    display: grid;
    grid-template-rows: 81% 0%;
    grid-template-areas: "video"
                         "blank";
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#right-video {
    grid-area: video;
    grid-template-areas: "rightPicture";
    background-image: url("../images/home_clinic3_pic13.jpg");
    background-repeat: no-repeat;
    background-size:57vw;
    align-items: center;
    background-position: -8.5vw 0;
}

#right-video h2 {
    font-weight: 600;
    color: white;
    margin: 4vw 0 0 5vw;
    width: 20vw;
    font-size: 4.4vw;
    text-align: start;
}

#right-video p {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 5vw;
}
