/******     main     ******/
body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    color: #fff;
    background: #00f1c7;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas: "header"
                         "content1"
                         "content2"
                         "footer";
}

.header {
    grid-area: header;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.mainFooter {
    grid-area: footer;
}

/******  Header  ******/
.header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 31rem;
    overflow-x: auto;
    background-color: #001B37;
    background-image: url("../images/home_clinic3_pic15 (1).png");
    background-position: center top;
    background-size: 136%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-title {
    color: #fff;
    box-sizing: border-box;
    margin-left: 11vw;
    padding-top: 1rem;
}

.header-title h1 {
    font-weight: 700;
    font-size: 5vw;
}

.hamburger-menu {
    display: none;
}

.hamburger-content {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 4rem 12vw;
    z-index: 1000;
}

header .logo {
    margin-right: 20vw;
}

header .logo img {
    width: 12vw;
}

header.sticky {
    width: max-content;
    padding: 0.6rem 13vw;
    background: rgba(10, 22, 34, 0.95);
}

header dl {
    display: flex;
}

header dl dt:last-child a {
    color: #08F1C9;
}

header dl dt a {
    font-weight: 700;
    font-size: 1.2vw;
    color: #B5BDC4;
    text-decoration: none;
    position: relative;
    margin: 0.6rem 1.26vw;
    transition: 0.6s;
}

header dl dt a:hover {
    color: #fff;
}

header dl dt:last-child a:hover {
    color: #08F1C9;
}

header .current {
    color: #fff;
}

/*****content1*****/

.content1 {
    margin-top: 8rem;
    margin-bottom: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-areas: "left right ";
}

.left-section {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 20%;
}

.left-section__title img {
    margin-bottom: 2rem;
    width: 3vw;
}

.left-section__title h1 {
    font-size: 4.2vw;
    font-weight: 700;
    margin: 0;
}

.left-section__title p {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
}

.left-section__card {
    display: flex;
    justify-items: center;
}

.card-pic img {
    width: 6.5vw;
    height: 7rem;
    margin-top: 2.5rem;
}

.card-text {
    padding-left: 4vw;
}

.card-text h4 {
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: 0.08vw;
    margin-bottom: 0;
}

.card-text p {
    font-size: 1.1vw;
    color: #7A7C7E;
    line-height: 2.3vw;
}

.right-section {
    margin-left: 16%;
    grid-area: right;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-areas: "pic" "book";
}

.right-section__pic {
    grid-area: pic;
}

.right-section__pic img {
    width: 33vw;
}

.right-section__online {
    grid-area: book;
    background-color: #00F1C7;
    width: 16vw;
    height: 24rem;
    /*padding-top: 1rem;*/
    margin-top: 0;
    padding-left: 3vw;
}

.right-section__online h3 {
    font-size: 2.2vw;
    font-weight: 700;
    padding-right: 3vw;
}

.right-section__online p {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    margin-bottom: 3rem;
}

.right-section__online button {
    width: 50%;
    height: 4rem;
    background: #000;
    border: 0 solid #000;
    font-size: 1.08vw;
}

.right-section__online a {
    text-decoration: none;
    color: #fff;
}

/****** content2 ******/
.content2 {
    width: 100%;
    height: 43rem;
    background: #001B37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content2 h5, h2 {
    color: #fff;
}

.content2 h5 {
    font-size: 1.5vw;
    margin-top: 2rem;
    font-weight: 300;
}

.content2 h2 {
    font-size: 3.4vw;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.content2 p {
    color: #a1abb5;
    font-size: 1.1vw;
    text-align: center;
    line-height: 2.5rem;
    padding: 0 25vw;
}

.content2 button {
    background: #000;
    border: 0 solid #000;
    width: 8.5%;
    height: 4rem;
    font-size: 1.1vw;
    margin-top: 1rem;
}

.content2 a {
    text-decoration: none;
    color: #fff;
}

/***** footer *****/

.mainFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footerTop {
    display: flex;
    justify-content: right;
    width: max-content;
    height: max-content;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.footerTop > div {
    margin: 0 6.5vw;
    vertical-align: middle;
}

.icon-number {
    padding-left: 6vw;
    margin-bottom: 0;
}

.icon-number img {
    width: 12vw;
}

.icon-number p {
    color: #8C8C8C;
    font-size: 1.1vw;
}

.icon-number h3 {
    color: #00F1C7;
    font-size: 1.6vw;
    font-weight: 400;
    margin-top: 0;
}

.content-left h3,
.content-right h3 {
    font-weight: 400;
    font-size: 2.6vw;
}

.content-left div span,
.content-right div span {
    font-size: 1vw;
    font-weight: 200;
}

.content-left div a p,
.content-right div a p {
    display: inline;
    font-size: 1.5vw;
}

.content-left div,
.content-right div {
    margin: 1.2vw 0;
    color: #5E5E5E;
}

.content-left div a,
.content-right div a {
    text-decoration: none;
    color: #5E5E5E;
}

.content-right {
    margin-left: 8vw;
}

.content-left div a p:hover,
.content-right div a p:hover {
    text-decoration: underline;
    color: #00F1C7;
}

.footerBottom {
    border-top: 0.07vw solid #e2e2e2;
    padding: 2.2rem 11vw;
    font-size: 1.1vw;
    color: #8C8C8C;
}

.footerBottom a {
    text-decoration: none;
    font-size: 1.2vw;
    color: #5E5E5E;
}

.footer-hover-a:hover {
    text-decoration: underline;
    color: #00F1C7;
}

.footerBottom a:first-of-type {
    float: right;
    font-size: 2.5vw;
    padding-left: 3vw;
    vertical-align: middle;
    font-weight: lighter;
}

.stickyButton-up {
    width: 5.5rem;
    height: 5.5rem;
    background-color: #06070C;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 33rem;
    right: 0;
    text-decoration: none;
    border-radius: 0.2rem 0 0 0.2rem;
}

.stickyButton-up span:first-child {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 0.2rem;
}

.stickyButton-up span:last-child {
    font-size: 0.9rem;
}

.stickyButton-down {
    width: 5.5rem;
    height: 5.5rem;
    background-color: #80B541;
    color: #F3F5F2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 39rem;
    right: 0;
    text-decoration: none;
    border-radius: 0.2rem 0 0 0.2rem;
}

.stickyButton-down img {
    width: 2.2rem;
    height: 2.2rem;
}

.stickyButton-down span {
    font-size: 0.9rem;
    /*margin-top: 0.21rem;*/
}

.blink {
    animation: blinker 4s infinite;
}

@keyframes blinker {
    0%, 100%, 50% {
        opacity: 1
    }
    25%, 75% {
        opacity: .2
    }
}

/**********  Responsive for Small phone and down **********/
@media screen and (max-width: 320px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
        display: block;
    }

    /********* Header **********/
    header {
        display: none;
    }

    .header {
        height: 13rem;
        background-size: 250%;
    }

    .header-title {
        margin-left: 11vw;
        margin-top: 5rem;
    }

    .header-title h1 {
        font-size: 13vw;
    }

    /********* Hamburger menu **********/
    .hamburger-content {
        display: block;
    }

    .hamburger-menu {
        background-color: rgba(10, 22, 34, 1);
        display: block;
        width: 100%;
        min-height: 13vw;
        z-index: 100;
    }

    .hamburger-menu a {
        display: inline-block;
    }

    .hamburger-menu a img {
        padding: 0.7rem 0 0.7rem 22vw;
        width: 52vw;
    }

    .hamburger-menu ion-icon {
        font-size: 10vw;
        color: #00c19f;
        float: right;
        padding-top: 0.7rem;
        padding-right: 5vw;
    }

    .hamburger-menu ion-icon:hover {
        cursor: pointer;
    }

    .hamburger-content ion-icon:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content ion-icon {
        font-size: 9vw;
        float: right;
        color: #a6a6a6;
        padding: 0.9rem 5vw 0.8rem;
    }

    .hamburger-content {
        background-color: #191919;
        width: 80vw;
        height: 100rem;
        z-index: 100;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }

    .hamburger-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.6rem;
    }

    .hamburger-content a {
        display: block;
        border-top: 1px solid rgba(181, 189, 196, 0.06);
        width: 100%;
        padding: 0.8rem 2vw 0.8rem 6vw;
        font-weight: 600;
        font-size: 4vw;
        color: #B5BDC4;
        text-decoration: none;
    }

    .hamburger-content dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        padding-bottom: 1rem;
        color: #08F1C9;
    }

    .hamburger-content a:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content dt:last-child a:hover {
        color: #08F1C9;
    }

    .hamburger-content .current {
        color: #fff;
    }

    .open-menu {
        transition: transform 1s;
    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s;
    }

    .moveOn-container {
        transform: translate(-40vw);
        background-color: rgba(27, 68, 179, 0.1);
        filter: grayscale(50%);
        transition: 1s;
    }

    .moveBack-container {
        transition: transform 0.5s;
    }

    .sticky {
        position: fixed;
        min-height: 3.2rem;
        width: 100%;
        transition: ease-in 1.5s;
    }

    /********* Content1 **********/
    .content1 {
        display: flex;
        flex-direction: column;
        grid-template-columns: 100% 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .left-section {
        margin-left: 10%;
        margin-bottom: 1.5rem;
    }

    .left-section__title img {
        width: 14vw;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .left-section__title h1 {
        font-size: 11.5vw;
        line-height: 2.7rem;
        padding-right: 8vw;
    }

    .left-section__title p {
        font-size: 4vw;
        margin-top: 1.4rem;
        line-height: 1.2rem;
        letter-spacing: 0.2vw;
    }

    .left-section__card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .card-pic img {
        width: 28vw;
        height: 5.3rem;
        margin-top: 1.5rem;
    }

    .card-text {
        padding-left: 0;
    }

    .card-text h4 {
        font-size: 4.7vw;
        margin-top: 1rem;
    }

    .card-text p {
        font-size: 4vw;
        line-height: 1.3rem;
        margin-top: 1rem;
        padding-right: 10vw;
        letter-spacing: 0.1vw;
    }

    .right-section {
        grid-template-rows: max-content max-content;
        margin-left: 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-section__pic img {
        width: 70vw;
    }

    .right-section__online {
        width: 66.5vw;
        height: 13rem;
    }

    .right-section__online h3 {
        font-size: 6vw;
        padding-right: 0;
        padding-left: 10vw;
        margin-top: 0.6rem;
    }

    .right-section__online p {
        font-size: 4.5vw;
        padding-left: 10vw;
        margin-bottom: 1.4rem;
    }

    .right-section__online button {
        width: 50%;
        height: 2.5rem;
        margin-left: 10vw;
        margin-top: 0.5rem;
    }

    .right-section__online a {
        font-size: 4vw;
    }

    /********* Content2 **********/
    .content2 {
        width: 100%;
        height: 33rem;
        margin-top: 4rem;
    }

    .content2 h5 {
        font-size: 4.5vw;
        padding: 0;
        margin-top: 2rem;
        letter-spacing: 0.1vw;
    }

    .content2 h2 {
        font-size: 9vw;
        margin-top: 0.5rem;
        padding: 0 10vw;
        text-align: center;
    }

    .content2 p {
        font-size: 4vw;
        line-height: 1.3rem;
        padding: 0 10vw;
        margin-top: 0.5rem;
    }

    .content2 button {
        width: 37%;
        height: 2.5rem;
        font-size: 4.2vw;
        font-weight: 100;
        margin-top: 2.6rem;
    }

    /********* Footer **********/
    .mainFooter {
        width: 100%;
    }

    .footerTop {
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .icon-number {
        margin-top: 1rem;
    }

    .icon-number img {
        width: 50vw;
        margin-top: 0;
    }

    .icon-number p {
        font-size: 4.2vw;
        margin-top: 2.5rem;
    }

    .icon-number h3 {
        font-size: 4.4vw;
        margin-bottom: 4rem;
    }

    .content-left {
        margin-left: 11vw;
    }

    .content-right {
        margin-left: 11vw;
        padding-top: 3rem;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 4.5vw;
    }

    .content-left div,
    .content-right div {
        margin: 0.8rem 0;
    }

    .content-left div span,
    .content-right div span {
        font-size: 3vw;
    }

    .content-left div a p,
    .content-right div a p {
        font-size: 4vw;
    }

    .footerBottom {
        text-align: center;
        padding: 2rem 7vw;
        font-size: 4vw;
        line-height: 1.2rem;
        margin-right: 5vw;
    }

    .footerBottom a:first-of-type {
        float: none;
        display: block;
        font-size: 10vw;
        margin-bottom: 1.4rem;
    }

    .footerBottom a {
        font-size: 4.1vw;
    }

    .stickyButton {
        display: none;
    }
}

/**********  Responsive for Medium phone **********/
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
        display: block;
    }

    /********* Header **********/
    header {
        display: none;
    }

    .header {
        height: 13rem;
        background-size: 250%;
    }

    .header-title {
        margin-left: 10vw;
        margin-top: 5rem;
    }

    .header-title h1 {
        font-size: 11vw;
    }

    /********* Hamburger menu **********/
    .hamburger-content {
        display: block;
    }

    .hamburger-menu {
        background-color: rgba(10, 22, 34, 1);
        display: block;
        width: 100%;
        min-height: 13vw;
        z-index: 100;
    }

    .hamburger-menu a {
        display: inline-block;
    }

    .hamburger-menu a img {
        padding: 0.7rem 0 0.7rem 22vw;
        width: 46vw;
    }

    .hamburger-menu ion-icon {
        font-size: 10vw;
        color: #00c19f;
        float: right;
        padding-top: 0.7rem;
        padding-right: 5vw;
    }

    .hamburger-menu ion-icon:hover {
        cursor: pointer;
    }

    .hamburger-content ion-icon:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content ion-icon {
        font-size: 9vw;
        float: right;
        color: #a6a6a6;
        padding: 0.9rem 5vw 0.8rem;
    }

    .hamburger-content {
        background-color: #191919;
        width: 70vw;
        height: 100rem;
        z-index: 100;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }

    .hamburger-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.6rem;
    }

    .hamburger-content a {
        display: block;
        border-top: 1px solid rgba(181, 189, 196, 0.06);
        width: 100%;
        padding: 0.8rem 0 0.8rem 6vw;
        font-weight: 600;
        font-size: 3.5vw;
        color: #B5BDC4;
        text-decoration: none;
    }

    .hamburger-content dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        padding-bottom: 1rem;
        color: #08F1C9;
    }

    .hamburger-content a:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content dt:last-child a:hover {
        color: #08F1C9;
    }

    .hamburger-content .current {
        color: #fff;
    }

    .open-menu {
        transition: transform 1s;
    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s;
    }

    .moveOn-container {
        transform: translate(-31vw);
        background-color: rgba(27, 68, 179, 0.1);
        filter: grayscale(50%);
        transition: 1s;
    }

    .moveBack-container {
        transition: transform 0.5s;
    }

    .sticky {
        position: fixed;
        min-height: 3.2rem;
        width: 100%;
        transition: ease-in 1.5s;
    }

    /********* Content1 **********/
    .content1 {
        display: flex;
        flex-direction: column;
        grid-template-columns: 100% 100%;
        margin-top: 5.5rem;
        margin-bottom: 5rem;
    }

    .left-section {
        margin-left: 8%;
    }

    .left-section__title h1 {
        font-size: 9.5vw;
        line-height: 2.5rem;
    }

    .left-section__title img {
        width: 12vw;
        margin-bottom: 1rem;
    }

    .left-section__title p {
        font-size: 3.5vw;
        margin-top: 1.8rem;
        padding-right: 10vw;
        line-height: 1.4rem;
        letter-spacing: 0.2vw;
    }

    .left-section__card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .card-pic img {
        width: 22.5vw;
        height: 5rem;
        margin-top: 1.8rem;
    }

    .card-text {
        padding-left: 0;
    }

    .card-text h4 {
        font-size: 3.6vw;
        margin-top: 1.4rem;
    }

    .card-text p {
        font-size: 3.2vw;
        line-height: 1.7rem;
        margin-top: 1.2rem;
        padding-right: 10vw;
        letter-spacing: 0.1vw;
    }

    .right-section {
        grid-template-rows: max-content max-content;
        margin-left: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .right-section__pic img {
        width: 75vw;
    }

    .right-section__online {
        width: 72vw;
        height: 13rem;
    }

    .right-section__online h3 {
        font-size: 6vw;
        padding-left: 8.8vw;
    }

    .right-section__online p {
        font-size: 3.5vw;
        padding-left: 8.8vw;
        margin-bottom: 2rem;
    }

    .right-section__online button {
        width: 43%;
        height: 2.5rem;
        font-size: 3.4vw;
        margin-left: 8.8vw;
        font-weight: 150;
    }

    /********* Content2 **********/
    .content2 {
        width: 100%;
        height: 32rem;
        margin-top: 2rem;
    }

    .content2 h5 {
        font-size: 3.8vw;
        font-weight: 300;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .content2 h2 {
        font-size: 7.8vw;
        margin-top: 1.5rem;
        margin-bottom: 0;
        padding: 0 16vw;
        text-align: center;
    }

    .content2 p {
        font-size: 3.5vw;
        line-height: 1.3rem;
        padding: 0 7vw;
        margin-top: 2rem;
    }

    .content2 button {
        width: 30%;
        height: 2.5rem;
        font-size: 3.8vw;
        font-weight: 100;
        margin-top: 1.5rem;
    }

    /********* Footer **********/
    .mainFooter {
        width: 100%;
    }

    .footerTop {
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }

    .icon-number {
        margin-top: 1rem;
    }

    .icon-number img {
        width: 45vw;
        margin-top: 0;
    }

    .icon-number p {
        font-size: 3.2vw;
        margin-top: 2.5rem;
    }

    .icon-number h3 {
        font-size: 3.8vw;
        margin-bottom: 4rem;
    }

    .content-left {
        margin-left: 11vw;
    }

    .content-right {
        margin-left: 11vw;
        padding-top: 3rem;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 4vw;
    }

    .content-left div,
    .content-right div {
        margin: 0.8rem 0;
    }

    .content-left div span,
    .content-right div span {
        font-size: 3vw;
    }

    .content-left div a p,
    .content-right div a p {
        font-size: 3.5vw;
    }

    .footerBottom {
        text-align: center;
        padding: 2rem 7vw;
        font-size: 3.5vw;
        line-height: 1.2rem;
    }

    .footerBottom a:first-of-type {
        float: none;
        display: block;
        font-size: 8vw;
        margin-bottom: 1.4rem;
    }

    .footerBottom a {
        font-size: 3.6vw;
    }

    .stickyButton {
        display: none;
    }
}

/**********  Responsive for Large phone **********/
@media only screen and (min-device-width: 376px) and (max-device-width: 425px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
        display: block;
    }

    /********* Header **********/
    header {
        display: none;
    }

    .header {
        height: 13rem;
        background-size: 250%;
    }

    .header-title {
        margin-left: 10.5vw;
        margin-top: 4.5rem;
    }

    .header-title h1 {
        font-size: 9.5vw;
    }

    /********* Hamburger menu **********/
    .hamburger-content {
        display: block;
    }

    .hamburger-menu {
        background-color: rgba(10, 22, 34, 1);
        display: block;
        width: 100%;
        min-height: 13vw;
        z-index: 100;
    }

    .hamburger-menu a {
        display: inline-block;
    }

    .hamburger-menu a img {
        padding: 0.5rem 0 0.5rem 34vw;
        width: 40vw;
    }

    .hamburger-menu ion-icon {
        font-size: 8vw;
        color: #00c19f;
        float: right;
        padding-top: 0.5rem;
        padding-right: 3vw;
    }

    .hamburger-menu ion-icon:hover {
        cursor: pointer;
    }

    .hamburger-content ion-icon:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content ion-icon {
        font-size: 8vw;
        float: right;
        color: #a6a6a6;
        padding: 0.9rem 5vw 0.8rem;
    }

    .hamburger-content {
        background-color: #191919;
        width: 60vw;
        height: 100rem;
        z-index: 100;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }

    .hamburger-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.8rem;
    }

    .hamburger-content a {
        display: block;
        border-top: 1px solid rgba(181, 189, 196, 0.06);
        width: 100%;
        padding: 0.8rem 2vw 0.8rem 6vw;
        font-weight: 600;
        font-size: 3.2vw;
        color: #B5BDC4;
        text-decoration: none;
    }

    .hamburger-content dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        padding-bottom: 1rem;
        color: #08F1C9;
    }

    .hamburger-content a:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content dt:last-child a:hover {
        color: #08F1C9;
    }

    .hamburger-content .current {
        color: #fff;
    }

    .open-menu {
        transition: transform 1s;
    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s;
    }

    .moveOn-container {
        transform: translate(-30vw);
        background-color: rgba(27, 68, 179, 0.1);
        filter: grayscale(50%);
        transition: 1s;
    }

    .moveBack-container {
        transition: transform 0.5s;
    }

    .sticky {
        position: fixed;
        min-height: 3.2rem;
        width: 100%;
        transition: ease-in 1.5s;
    }

    /********* Content1 **********/
    .content1 {
        display: flex;
        flex-direction: column;
        grid-template-columns: 100% 100%;
        margin-top: 6rem;
        margin-bottom: 5rem;
    }

    .left-section {
        margin-left: 8%;
    }

    .left-section__title img {
        width: 10vw;
        margin-top: 0;
        margin-bottom: 0.2rem;
    }

    .left-section__title h1 {
        font-size: 8.6vw;
        line-height: 2.5rem;
        padding-right: 16vw;
    }

    .left-section__title p {
        font-size: 3vw;
        margin-top: 2rem;
    }

    .left-section__card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .card-pic img {
        width: 20vw;
        height: 5rem;
        margin-top: 1.6rem;
    }

    .card-text {
        padding-left: 0;
    }

    .card-text h4 {
        font-size: 3.4vw;
        margin-top: 1.5rem;
        font-weight: 400;
    }

    .card-text p {
        font-size: 2.9vw;
        line-height: 1.3rem;
        margin-top: 1.2rem;
        padding-right: 5vw;
    }

    .right-section {
        grid-template-rows: max-content max-content;
        margin-left: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-section__pic img {
        width: 80vw;
    }

    .right-section__online {
        width: 77vw;
        height: 13rem;
    }

    .right-section__online h3 {
        font-size: 4.5vw;
        font-weight: 700;
        padding-left: 8.8vw;
    }

    .right-section__online p {
        font-size: 3vw;
        padding-left: 8.8vw;
        letter-spacing: 0.1vw;
        margin-bottom: 2rem;
    }

    .right-section__online button {
        width: 35%;
        height: 2.5rem;
        font-size: 3.4vw;
        margin-left: 8.8vw;
        font-weight: 150;
    }

    /********* Content2 **********/
    .content2 {
        width: 100%;
        height: 30rem;
        margin-top: 2rem;
    }

    .content2 h5 {
        font-size: 3vw;
        padding: 0;
        margin-top: 1rem;
        letter-spacing: 0.1vw;
    }

    .content2 h2 {
        font-size: 7vw;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .content2 p {
        font-size: 3vw;
        line-height: 1.5rem;
        padding: 0 7vw;
        margin-top: 1.2rem;
    }

    .content2 button {
        width: 26%;
        height: 2.5rem;
        font-size: 3.1vw;
        font-weight: 100;
        margin-top: 1.5rem;
    }

    /********* Footer **********/
    .mainFooter {
        width: 100%;
    }

    .footerTop {
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }

    .icon-number {
        margin-top: 1rem;
    }

    .icon-number img {
        width: 45vw;
        margin-top: 0;
    }

    .icon-number p {
        font-size: 3.2vw;
        margin-top: 2.5rem;
    }

    .icon-number h3 {
        font-size: 3.8vw;
        margin-bottom: 4rem;
    }

    .content-left {
        margin-left: 11vw;
    }

    .content-right {
        margin-left: 11vw;
        padding-top: 3rem;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 3.5vw;
    }

    .content-left div,
    .content-right div {
        margin: 0.8rem 0;
    }

    .content-left div span,
    .content-right div span {
        font-size: 2.8vw;
    }

    .content-left div a p,
    .content-right div a p {
        font-size: 3vw;
    }

    .footerBottom {
        text-align: center;
        padding: 2rem 7vw;
        font-size: 3vw;
        line-height: 1.2rem;
    }

    .footerBottom a:first-of-type {
        float: none;
        display: block;
        font-size: 6vw;
        margin-bottom: 1.4rem;
    }

    .footerBottom a {
        font-size: 3.2vw;
    }

    .stickyButton {
        display: none;
    }
}

/**********  Responsive for Laptop 1024 **********/
@media only screen and (min-device-width: 426px) and (max-device-width: 1024px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
        display: block;
    }

    /********* Header **********/
    header {
        display: none;
    }

    .header {
        height: 23rem;
        background-size: 180%;
    }

    .header-title {
        margin-left: 6vw;
        margin-top: 4.5rem;
        padding-top: 5rem;
    }

    .header-title h1 {
        font-size: 7vw;
    }

    /********* Hamburger menu **********/
    .hamburger-content {
        display: block;
    }

    .hamburger-menu {
        display: block;
        width: 100%;
        min-height: 10vw;
        z-index: 100;
        position: fixed;
    }

    .hamburger-menu a {
        display: inline-block;
    }

    .hamburger-menu a img {
        padding: 3rem 0 1rem 8vw;
        width: 18vw;
    }

    .hamburger-menu ion-icon {
        font-size: 3.5vw;
        color: #00c19f;
        float: right;
        padding-top: 3rem;
        padding-right: 6vw;
    }

    .hamburger-menu ion-icon:hover {
        cursor: pointer;
    }

    .hamburger-content ion-icon:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content ion-icon {
        font-size: 3.5vw;
        float: right;
        color: #a6a6a6;
        padding: 0.9rem 2vw 1rem;
    }

    .hamburger-content {
        background-color: #191919;
        width: 25vw;
        height: 100rem;
        z-index: 100;
        flex-wrap: initial;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }

    .hamburger-content dl {
        display: flex;
        flex-direction: column;
        margin-top: 3.8rem;
    }

    .hamburger-content a {
        display: block;
        border-top: 1px solid rgba(181, 189, 196, 0.06);
        width: 100%;
        padding: 0.6rem 1.2vw 0.6rem 2.4vw;
        font-weight: 600;
        font-size: 1.8vw;
        color: #B5BDC4;
        text-decoration: none;
    }

    .hamburger-content dt:last-child a {
        border-bottom: 1px solid rgba(181, 189, 196, 0.06);
        padding-bottom: 1rem;
        color: #08F1C9;
    }

    .hamburger-content a:hover {
        color: #fff;
        cursor: pointer;
    }

    .hamburger-content dt:last-child a:hover {
        color: #08F1C9;
    }

    .hamburger-content .current {
        color: #fff;
    }

    .open-menu {
        transition: transform 1s;
    }

    .close-menu {
        transform: translate(100vw);
        transition: transform 1s;
    }

    .moveOn-container {
        transform: translate(-14vw);
        background-color: rgba(27, 68, 179, 0.1);
        filter: grayscale(50%);
        transition: 1s;
    }

    .moveBack-container {
        transition: transform 0.5s;
    }

    .sticky {
        background-color: rgba(0, 27, 55, 0.90);
        position: fixed;
        min-height: 3.2rem;
        width: 100%;
        transition: ease-in 1s;
    }

    /********* Content1 **********/
    .content1 {
        width: 100%;
        grid-template-columns: 50% 50%;
        margin-top: 6.6rem;
        margin-bottom: 6.6rem;
    }

    .left-section {
        margin-left: 9%;
    }

    .left-section__title img {
        width: 4vw;
    }

    .left-section__title h1 {
        font-size: 5.8vw;
        font-weight: 700;
        line-height: 4rem;
        padding-right: 6.5vw;
        letter-spacing: 0.1vw;
    }

    .left-section__title p {
        font-size: 2vw;
        margin-top: 1.1rem;
        line-height: 2rem;
    }

    .left-section__card {
        margin-top: 0.8rem;
    }

    .card-pic img {
        width: 8.8vw;
        height: 5.2rem;
    }

    .card-text {
        padding-left: 0;
    }

    .card-text h4 {
        font-size: 2.2vw;
        padding-left: 2.4vw;
    }

    .card-text p {
        font-size: 1.5vw;
        padding-left: 2.4vw;
        line-height: 1.8rem;
        margin-top: 1rem;
    }

    .right-section {
        grid-template-rows: max-content max-content;
    }

    .right-section__pic img {
        width: 38vw;
    }

    .right-section__online {
        width: 19vw;
        height: 22rem;
        padding: 2rem 0 0 4.4vw;
    }

    .right-section__online h3 {
        font-size: 3vw;
        padding-right: 3vw;
    }

    .right-section__online p {
        font-size: 2vw;
        padding-right: 3vw;
        margin-bottom: 2rem;
        letter-spacing: 0.2vw;
    }

    .right-section__online button {
        width: 60%;
        height: 4.5rem;
        font-size: 1.5vw;
        text-align: left;
        padding-left: 2vw;
    }

    .right-section__online a {
        padding-right: 3vw;
        line-height: 1.5rem;
    }

    /********* Content2 **********/
    .content2 {
        width: 100%;
        height: 32rem;
    }

    .content2 h5 {
        font-size: 1.8vw;
        font-weight: 400;
        margin-top: 1.5rem;
        letter-spacing: 0.16vw;
    }

    .content2 h2 {
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .content2 p {
        font-size: 1.5vw;
        line-height: 1.6rem;
        padding: 0 25vw;
    }

    .content2 button {
        width: 12%;
        height: 3rem;
        font-size: 1.5vw;
        font-weight: 100;
        margin-top: 0.8rem;
    }

    /***** footer *****/
    .mainFooter {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .footerTop {
        margin-top: 7rem;
        margin-bottom: 6rem;
    }

    .footerTop > div {
        margin: 0 4vw;
        vertical-align: middle;
    }


    .icon-number {
        padding-left: 5vw;
    }

    .icon-number img {
        width: 16vw;
    }

    .icon-number p {
        font-size: 1.5vw;
    }

    .icon-number h3 {
        font-size: 2.4vw;
        margin-top: 0;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 2.2vw;
    }

    .content-left div span,
    .content-right div span {
        font-size: 1.4vw;
        font-weight: 100;
    }


    .content-left div a p,
    .content-right div a p {
        font-size: 1.5vw;
    }

    .content-left div,
    .content-right div {
        margin: 1rem 0;
    }

    .content-right {
        padding-left: 8vw;
    }

    .footerBottom {
        padding: 1.5rem 6vw;
        font-size: 1.4vw;
    }

    .footerBottom a {
        font-size: 1.5vw;
    }


    .footerBottom a:first-of-type {
        font-size: 3vw;
        padding-left: 3vw;
    }

    /********* sticky button **********/
    .stickyButton-up {
        width: 4rem;
        height: 4rem;
        top: 25rem;
    }

    .stickyButton-up span:first-child {
        font-size: 1.32rem;
        margin-left: 0.1rem;
    }

    .stickyButton-up span:last-child {
        font-size: 0.71rem;
    }

    .stickyButton-down {
        width: 4rem;
        height: 4rem;
        top: 29.5rem;
    }

    .stickyButton-down img {
        width: 1.7rem;
        height: 1.7rem;
    }

    .stickyButton-down span {
        font-size: 0.7rem;
    }
}

/**********  Responsive for Laptop 1440 **********/
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
        display: block;
    }

    /*****  Header *****/
    .header {
        width: 100%;
        height: 23rem;
        background-size: 140%;
    }

    .header-title {
        margin-left: 11vw;
        padding-top: 9rem;
    }

    .header-title h1 {
        font-weight: 700;
        font-size: 5vw;
    }

    .hamburger-menu {
        display: none;
    }

    .hamburger-content {
        display: none;
    }

    header dl dt a {
        font-size: 1.1vw;
    }
    header.sticky {
        padding: 0.6rem 14vw;
    }

    /*****content1*****/
    .content1 {
        margin-top: 6.5rem;
        margin-bottom: 6.5rem;
        width: 100%;
    }

    .left-section {
        margin-left: 22%;
    }

    .left-section__title img {
        margin-bottom: 1.2rem;
        width: 4vw;
    }

    .left-section__title h1 {
        font-size: 4.2vw;
        padding-right: 2vw;
    }

    .left-section__title p {
        font-size: 1.4vw;
        letter-spacing: 0.05vw;
    }

    .card-pic img {
        width: 6vw;
        height: 5rem;
        margin-top: 2rem;
    }

    .card-text {
        padding-left: 3.3vw;
    }

    .card-text p {
        font-size: 1.09vw;
        line-height: 1.8rem;
        margin-top: 1.2rem;
        padding-right: 2.2vw;
    }

    .right-section {
        margin-left: 16%;
        grid-area: right;
        display: grid;
        grid-template-rows: max-content max-content;
    }

    .right-section__pic img {
        width: 31.5vw;
    }

    .right-section__online {
        width: 17vw;
        height: 17rem;
        padding-left: 4vw;
    }

    .right-section__online h3 {
        font-size: 2.2vw;
        font-weight: 700;
        padding-right: 10vw;
    }

    .right-section__online p {
        font-size: 1.3vw;
        padding-right: 3vw;
        margin-bottom: 2rem;
    }

    .right-section__online button {
        width: 60%;
        height: 3rem;
    }

    .right-section__online a {
        font-size: 1.1vw;
        font-weight: lighter;
    }

    /****** content2 ******/
    .content2 {
        width: 100%;
        height: 33rem;
    }

    .content2 h5 {
        font-size: 1.5vw;
        margin-top: 1.5rem;
        font-weight: 300;
    }

    .content2 h2 {
        font-size: 3.4vw;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .content2 p {
        font-size: 1.1vw;
        text-align: center;
        line-height: 1.6rem;
        padding: 0 25vw;
    }

    .content2 button {
        width: 9%;
        height: 3rem;
        font-size: 1.3vw;
        margin-top: 1rem;
    }

    /***** footer *****/
    .mainFooter {
        width: 100%;
        margin-top: 0.8rem;
    }

    .footerTop {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .icon-number {
        padding-left: 3vw;
        margin-bottom: 0;
    }

    .icon-number img {
        width: 16vw;
    }

    .icon-number p {
        font-size: 1vw;
    }

    .icon-number h3 {
        font-size: 1.6vw;
        margin-top: 0;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 2vw;
    }

    .content-left div span,
    .content-right div span {
        font-size: 0.8vw;
    }

    .content-left div a p,
    .content-right div a p {
        font-size: 1.2vw;
    }

    .content-left div,
    .content-right div {
        margin: 1rem 0;
    }

    .footerBottom {
        padding: 2.1rem 16vw;
        font-size: 1.1vw;
    }

    .footerBottom a {
        font-size: 1.2vw;
    }

    .footerBottom a:first-of-type {
        font-size: 2vw;
    }

    .stickyButton-up {
        width: 4rem;
        height: 4rem;
        top: 25rem;
    }

    .stickyButton-up span:first-child {
        font-size: 1.3rem;
        margin-left: 0.2rem;
    }

    .stickyButton-up span:last-child {
        font-size: 0.7rem;
    }

    .stickyButton-down {
        width: 4rem;
        height: 4rem;
        top: 29.5rem;
    }

    .stickyButton-down img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .stickyButton-down span {
        font-size: 0.7rem;
    }
}

/**********  Responsive for Laptop 2560 **********/
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
    .container {
        grid-template-rows: max-content max-content max-content max-content;
    }

    /*****  Header *****/
    .header {
        width: 100%;
        height: 23rem;
        background-size: 75%;
    }

    .header-title {
        margin-left: 29vw;
        padding-top: 10rem;
    }

    .header-title h1 {
        font-size: 2.8vw;
    }

    .hamburger-menu {
        display: none;
    }

    .hamburger-content {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    header .logo {
        margin-right: 0;
    }

    header .logo img {
        width: 7vw;
        margin-top: 0;
    }

    header.sticky {
        width: 100%;
        padding: 0.2rem 12vw;
    }

    header dl {
        margin-top: 1rem;
    }

    header dl dt a {
        font-weight: 600;
        font-size: 0.8vw;
        position: relative;
        margin: 0.5rem 1.4vw;
    }

    /*****content1*****/
    .content1 {
        width: 100%;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .left-section {
        margin-right: 0;
        margin-left: 58%;
    }

    .left-section__title img {
        margin-bottom: 1rem;
        width: 1.8vw;
    }

    .left-section__title h1 {
        font-size: 2.4vw;
        padding-right: 1vw;
        margin: 0;
    }

    .left-section__title p {
        font-size: 0.75vw;
        margin-top: 2rem;
        letter-spacing: 0.08vw;
    }

    .card-pic img {
        width: 3.5vw;
        height: 5.8rem;
        margin-top: 2rem;
    }

    .card-text {
        padding-left: 2vw;
    }

    .card-text h4 {
        font-size: 0.9vw;
        margin-bottom: 0;
    }

    .card-text p {
        font-size: 0.6vw;
        line-height: 1.8rem;
        padding-right: 0.06vw;
    }

    .right-section {
        margin-left: 11%;
        grid-template-rows: max-content max-content;
    }

    .right-section__pic img {
        width: 18vw;
    }

    .right-section__online {
        width: 11vw;
        height: 20rem;
        padding-left: 2vw;

    }

    .right-section__online h3 {
        font-size: 1.2vw;
        margin: 0;
        padding-top: 2.5rem;
        padding-right: 4vw;
    }

    .right-section__online p {
        font-size: 0.7vw;
        letter-spacing: 0.08vw;
        margin-top: 2rem;
    }

    .right-section__online button {
        width: 50%;
        height: 3rem;
        font-size: 0.7vw;
    }

    /****** content2 ******/
    .content2 {
        width: 100%;
        height: 32rem;
    }

    .content2 h5 {
        font-size: 0.9vw;
        margin-top: 2.5rem;
    }

    .content2 h2 {
        font-size: 2vw;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .content2 p {
        font-size: 0.6vw;
        line-height: 1.5rem;
        padding: 0 38vw;
    }

    .content2 button {
        width: 4.5%;
        height: 3rem;
        font-size: 0.6vw;
        margin-top: 2rem;
    }

    /***** footer *****/
    .mainFooter {
        width: 50%;
        margin-left: 18%;
        margin-top: 0;
    }

    .footerTop {
        justify-content: right;
        margin-top: 10rem;
        padding-bottom: 1rem;
    }

    .footerTop > div {
        margin: 0 3.5vw;
    }

    .icon-number {
        padding-left: 6vw;
        margin-bottom: 0;
    }

    .icon-number img {
        width: 8vw;
    }

    .icon-number p {
        font-size: 0.7vw;
        margin-top: 3rem;
    }

    .icon-number h3 {
        font-size: 1vw;
        margin-top: 0.8rem;
    }

    .content-left h3,
    .content-right h3 {
        font-size: 0.9vw;
        margin: 0;
    }

    .content-left div span,
    .content-right div span {
        font-size: 0.5vw;
    }

    .content-left div a p,
    .content-right div a p {
        font-size: 0.6vw;
    }

    .content-left div,
    .content-right div {
        margin: 1.2vw 0;
    }

    .content-right {
        margin-left: 2vw;
    }

    .footerBottom {
        font-size: 0.6vw;
        padding: 2rem 4vw;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerBottom a {
        font-size: 0.7vw;
    }

    .footerBottom a:first-of-type {
        font-size: 1.4vw;
        padding-left: 10vw;
    }

    .stickyButton-up {
        width: 4rem;
        height: 4rem;
        top: 25rem;
    }

    .stickyButton-up span:first-child {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 0.2rem;
    }

    .stickyButton-up span:last-child {
        font-size: 0.7rem;
    }

    .stickyButton-down {
        width: 4rem;
        height: 4rem;
        top: 29.5rem;
    }

    .stickyButton-down img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .stickyButton-down span {
        font-size: 0.7rem;
    }
}
